[2018-04-10 21:11] Engelberg opened #3 "Question: Will datahike allow arbitrary "forking" of db?"
Datomic, through its transaction process, ensures there's one linear history for the db (although you can create temporary speculative copies).  With Datascript, the DB is like any other Clojure data structure and you can make arbitrary changes off of any version of the DB, and all are equally valid.  The connection as an atom is just a convenience if you want to use it in a linear fashion.

Which

[2018-04-10 21:59] whilo commented on #3
Well, you are absolutely right. I have deliberately used the atom to linearize the write operations through locking in a simple way. datahike still has the `with` form that should be applicable to the connection atom in memory so you can either manually flush or transact afterwards and would overwrite the datahike identity. There is no reason that you cannot also make these parallel versions durab

[2018-04-10 22:08] Engelberg commented on #3
One of the things I'm curious to explore is the idea of making an implementation of https://github.com/Engelberg/ubergraph that uses something like datahike behind the scenes so that you can create really large graphs and aren't limited by memory.  My goal would be to make the durable aspect as invisible to the user as possible, so you can use it exactly as you would an in-memory data structure.

[2018-04-10 22:25] whilo commented on #3
That sounds cool, I still have to incorporate my complex network analysis algorithms for loom. I have also yesterday thought about doing something like this for [clara](https://github.com/cerner/clara-rules) and factui. You can just use https://github.com/replikativ/datahike/blob/master/src/datahike/core.cljc#L204 for instance, this will give you in memory forks and I can provide a simple flush ro

[2018-04-10 22:31] whilo commented on #3
So maybe it is easier to just put the `node-map` and maybe `attrs` here:
https://github.com/Engelberg/ubergraph/blob/master/src/ubergraph/core.clj#L124
in a hitchhiker-tree (which is just a sorted map on disk). It is persistent, so you can decide on your own when and how to make it durable. If you have questions about that, feel free to ping me.

[2018-04-10 22:59] Engelberg commented on #3
Thanks.  I'll be investigating this more in a couple weeks.  What did you
do to make datahike work out of the box, as opposed to hitchhiker-tree
which seems to require installing and starting redis separately?

[2018-04-12 20:15] whilo commented on #3
redis is one backend for the hitchhiker-tree. I have ported the hitchhiker-tree to support core.async based IO for cljs and supplied a konserve backend a year ago:

https://github.com/datacrypt-project/hitchhiker-tree/blob/master/src/hitchhiker/konserve.cljc

In case of datahike I just map the different URL schemes to konserve backends, but I think the redis backend for datahike might be interesti

[2018-04-19 00:30] weltschmerz1 opened #4 "How to specify a schema"
I would like to use a schema the same way datascript offers [here](https://github.com/tonsky/datascript#usage-examples):

[code]

How would I go about that?

I am basically porting my application from datascript to datahike so that my app has persistent data, but I have certain schematic requirements such as cardinality-many, refs, etc.

[2018-04-20 18:05] whilo commented on #4
I have pushed a version to master which should allow you to pass your schema to datahike in a similar way to `create-conn`. This is not ideal, as it does not follow Datomic's schema as data concept and it is not possible yet to change it later. Is this sufficient for you for now?

[2018-04-21 01:34] weltschmerz1 commented on #4
That looks perfect. Please let me know when you publish it and I'll try it out. Thank you so much!

[2018-04-21 10:49] whilo commented on #4
You can use the `0.1.1-SNAPSHOT` version for now.

[2018-04-22 05:03] weltschmerz1 commented on #4
I tried it out, but I don't think it's working yet. Either I am not loading the schema correctly, or the schema is not taking effect.

Perhaps one indicator that the schema is not being loaded correctly is when I print the value of my `conn` atom, it prints nil for its `:schema`, even though I did use the new `create-database-with-schema`.

On the off chance that this is expected or incidental, le

[2018-04-22 16:54] whilo commented on #4
I am sorry, I should have written a test in the first place. It was not passed through serialization, it should be fixed now and is covered with a test from datascript. The new SNAPSHOT version is on clojars.

[2018-04-22 19:30] weltschmerz1 commented on #4
Another datapoint: Upon running a query after connecting to an existing database, I now get this exception:

[code]

[2018-04-22 19:48] whilo commented on #4
Ok, can you open a separate issue? This does not look related.

Schema updates are not supported by datascript right away. You can update the schema yourself, as the database is just a hash-map under the `:db` key in the underlying konserve store, but I think this can have unintended consequences. If I understand correctly then datascript recommends reinitializing the database with a new schema. T

[2018-04-22 21:41] weltschmerz1 commented on #4
Sure I can open a separate issue. It seems to me to be related though, because I'm not updating the schema. I'm simply trying to connect to an existing database that was given a schema when it was created.

Otherwise, using a schema means losing support for persistence, or am I missing something?

In the meantime, if there is a workaround, I'm happy to try it out.

[2018-04-22 22:33] weltschmerz1 commented on #4
(To be clear, I created a new database with a schema from scratch, and then tried to reuse it.)

[2018-05-02 14:38] whilo commented on #4
Ok, hopefully I have time to fix this seriously till the weekend.

[2018-05-07 12:38] pm4r commented on #4
I have same problem with datahike:file db. When I create database with schema, release connection and then connect again, queries return no data, just like db would be empty. Actually when looking into connection atom, there is :schema but :datoms are empty.

Create->connect->release->connect works fine if I don't use schema. :datoms are there and :schema is nil in that case.

[2018-05-11 00:29] whilo commented on #4
I have difficulties to reproduce, can you retry with the current SNAPSHOT release? Just to be sure I have not pushed an out of date version.

[2018-05-11 09:58] pm4r commented on #4
I checked with current SNAPSHOT and problem still exists for ma use case. So I narrowed it down to create simplest case when it occurs. It turns out it's not related with schema but datatypes, specifically bigdec which I was trying to store in db. It worked without complains, and data is querable but after reconnect all data is unavailable.

It works same whether I use schema or not.

[code]
Chang

[2018-05-11 11:43] pm4r commented on #4
Testing further it turns out that storing bigdec while using same connection causes nothing to be stored after it. After connecting again all data after inserting bigdec are missing but I can again insert new values, and :db/id of next entity has value like it never did any transactions since first time inserting bigdec.

So it looks like inserting bigdec causes something like detaching physical s

[2018-05-11 17:48] whilo commented on #4
@pm4r
Thanks a lot for reporting this! I have not had time to to use datahike enough to hit this issue yet. I think this is a serialization problem that I have not anticipated and somehow slips through, in general datahike only supports core edn types, not custom ones (like BigDecimals). Can you open a separate issue please?

[2018-05-11 17:49] whilo commented on #4
@weltschmerz1 I have difficulties to reproduce your schema is nil issue with the current datahike version, but I will track it down. Can you verify it is still happening with the current SNAPSHOT release?

[2018-05-17 09:10] pm4r opened #5 "Storing java.math.BigDecimal silently "disconnects" from storage"
Example:
[code]

It doesn't matter if db was created with or without schema. Until disconnection we have all transacted data available but after reconnection everything since inserting bigdec is not available.

I would expect inserting unsupported data type should throw exception.

[2018-05-17 09:11] pm4r commented on #4
Ok, I created #5 for this.

[2018-05-17 15:34] whilo commented on #4
Thank you!

[2018-05-23 12:15] whilo commented on #5
This issue should be fixed with the release of `0.1.1`. Can you please verify?

P.S.: What are you working on btw.? I have recently needed BigDecimal support as well to deal with accounting.

[2018-05-25 09:45] pm4r commented on #5
I works now for bigdec, thanks :). Although it came out I don't need them at all at the moment.

I'm working on mobile app (written entirely in clojurescript, using Expo :D) which needs backend for image recognition and storing some user accounts and orders. It will be low volume, special purpose app, so I gave datahike a shot to simplify my server deployment. I consider it as pretty safe shot, be

[2018-05-25 09:45] #5 closed

[2018-05-25 11:27] pm4r commented on #4
I use database with schema, with various types of values, refs, also with `cardinality/many` and don't see any issues with reconnecting - all data is available. I would suspect @weltschmerz1 encountered that silent problem as me with previous version (solved in #5).

[2018-05-25 12:58] whilo commented on #4
Ok, I close it for now. Feel free to reopen it, if the issue persists.

[2018-05-25 12:58] #4 closed

[2018-06-28 20:57] vizanto opened #6 "Konserve crash by throwaway database"
Trying to transact into a throwaway database:

[code]

Results in exception:
[code]

[2018-07-03 15:35] CharlesHD opened #7 "Performance issues"
Hi,
first of all, thanks for datahike. I really think this soft has its place in the clojure ecosystem.
So I start using it, and I created a small (110k eids) file database.
The query engine exhibits some strange performance behaviour. I'll use my db logic for example since i didn't try to reproduce it on other database.

[code]
Any idea of what may cause that union tremendous overhead ?

[2018-07-03 22:31] whilo commented on #7
That is odd. I will take a look into it. Could you try reordering the `:where` clauses as a quick check?

[2018-07-04 07:56] CharlesHD commented on #7
I'll try some reordering this morning.

[2018-07-04 09:43] whilo commented on #7
Ok, thanks! I will have to study the query engine then and maybe a profiler helps.

[2018-07-14 13:57] whilo commented on #7
I would like to do this over the next week. Can you provide a dataset for reproduction? You can also send me your dataset confidentially via mail for reproduction only, if this is ok for you.

[2018-07-15 20:29] CharlesHD commented on #7
Sure, I'll craft you a dataset tomorrow.

[2018-07-24 12:36] orolle opened #8 "File-based storage medium fails in Winodws 10"
Hi,

I try to execute `(def conn (connect uri))` after calling `(create-database uri)` with `(def uri "datahike:file:///U:/path/to/my/database")` and get the exception below. It seems to create a database which cannot be read afterwords. My wild guess is that the parser mixes file path and class path seperators in Windows which is different from Unix-based systems, indicated by `Illegal char <:> a

[2018-07-25 13:49] whilo commented on #8
Yes, we are using a regex atm. which is not compatible with this drive based addressing: https://github.com/replikativ/datahike/blob/master/src/datahike/api.cljc#L19 We probably need to use some URI wrapper of Java.

[2018-07-25 14:13] whilo commented on #7
Yes, a zip of the datahike directory is ok. Just send it at christian at topiq.es.

[2018-08-04 10:40] whilo opened #9 "Reevaluate custom datom storage layouts"
If we do not use custom types for the indices and datoms in serialized form, then we should remove the temporary code. The index should also be made pluggable.

[2018-08-26 21:33] clyfe opened #10 "Support string tempids"
As per datascript https://github.com/tonsky/datascript/issues/251

[2018-11-06 09:57] pm4r opened #11 "Updating raw vector and map values fails"
I have schema with two items with :cardinality/one. In :my/vec I'm going to store vector and in :my/map a hash-map (not a good design obviously but it's useful for quick prototyping). First transaction which adds new data works as expected, however another one which is supposed to change stored values fails.

Splitting them into separate transaction shows that updating vector actually adds another

[2018-11-07 15:19] kordano commented on #11
Thanks, I'll have a look at it.

[2018-11-11 22:12] whilo commented on #11
You are peeking into the internals, which is ok, but you have to use `:eavt-durable`, we still have to change that to `:eavt` with the next cleanup (probably rebase on upstream datascript). This should also address the pull issue. The actual bug you are describing is visible in
[code]
My suspicion is that something is wrong with schema handling the memory backend.

[2018-11-13 15:38] kordano opened #12 "lein repl crashes with OpenJDK 10 on Ubuntu 18.04"
Process crashes with `java.lang.ClassNotFoundException: javax.xml.bind.DatatypeConverter, compiling:(cljs/closure.clj:1:1)` with
[code]

[2018-11-13 15:39] kordano commented on #12
Possible fix via latest ClojureScript version, but needs to be tested.

[2018-11-20 12:36] grischoun commented on #11
I started having look at the problem.
When I try the failing transaction:

[2018-11-21 16:14] pm4r commented on #11
@grischoun Actually I do have same stack trace at this transaction. I didn't realize it earlier because It turns out if I evaluated expressions one by one in my editor (Atom + ProtoRepl) it didn't evaluate derefing future so I didn't see exception, but executing larger block at once indeed throws it. That explains why db had nothing related to that transaction.

@whilo I didn't know about :eavt-du

[2018-11-23 00:56] whilo commented on #11
We will get rid of the `:eavt-durable` and `:eavt` distinction. Right now we are framing datahike as a joint database for ClojureScript and Clojure and will probably rebase it on a current version of datascript to make it cleaner. This should be transparent to users through the import/export upgrade procedure.

[2018-12-09 08:49] whilo commented on #11
Uh that went quick at closing the issue, I will reopen it for now until we have the fixed hitchhiker tree tested with datahike.

[2018-12-14 21:50] mgerlach-klick opened #13 "Schema Migration"
I saw in #4 that schema migration is not currently supported. Are there plans to support this in the future? What's the current workaround for schema migration? Load the database with the old schema, dump it to a file, delete the database, create a database with the new schema and import the data dump?

[2018-12-14 22:48] whilo commented on #13
Yes, this is unfortunately true. You can also overwrite the schema in the database yourself, if you know that it is consistent with its current value.

[code]

should do the trick.

[2018-12-15 13:53] mgerlach-klick commented on #13
Oh, good to know! Thank you @whilo !

[2018-12-21 12:55] mgerlach-klick opened #14 "LevelDB vs file?"
When would I use leveldb vs a direct file? What are the implications of each?

[2018-12-21 21:10] whilo commented on #14
Good question. The advantage of leveldb is that it does not use separate files for each tree fragment. I would not use leveldb in general, but if you have very large databases it might perform better instead of thousands of small files in a filesystem folder. It largely depends on the filesystem.

[2018-12-22 13:04] mgerlach-klick commented on #14
Thanks! What's a 'very large database' for you (seeing how after 'a few million entities at most' one should switch to Datomic, and with what filesystems should or should one not use leveldb vs files?

[2018-12-23 19:34] tonsky commented on #7
Datascript engine does a very straightforward thing here:

    [?id :trajectory/sim ?sim]
    [?sim ?p ?v]

Between those two clauses it needs to make a join. First relation is already calculated, it a is single tuple (or might be two-three tuples, doesn’t matter). Second one needs to be calculated. It has no “clues” for query engine (none it can use anyways). ?p and ?v are unknown, ?sim is sort o

[2018-12-25 14:11] whilo commented on #7
@tonsky Thanks for replying! That makes sense. I think in general better query planning would be helpful, but Datomic is also not doing a lot in this direction yet, I think. I guess this has to do with not having indices per attribute (tables). Even if there were a few ?sim values it would probably be better to seek them individually, but this requires at first some reasonable statistics with resp

[2018-12-25 16:01] mgerlach-klick commented on #13
I don't think this actually works.

I modified a schema to make one attribute `:db/isComponent true` and `swap!`ed it in. This had no effect on the queries. I'm guessing I would have to modify `:(schema conn)` in some way as well?

[2018-12-26 22:12] mgerlach-klick opened #15 "NullPointerException for simple query"
Hey, with the file `/tmp/example.edn` with this content:

[code]

then this code:
[code]

throws a big NPE:
[code]

Am I doing something wrong? This looks pretty straightforward to me?

[2018-12-26 22:37] mgerlach-klick commented on #15
Reducing it further, this is enough to make it throw up:

`/tmp/example.edn`:

[code]
code:
[code]

[2018-12-27 19:21] whilo commented on #14
Larger than what I have encountered so far :). I have had the problem in replikativ with filestore vs. leveldb, but there the granularity of associated values was finer, so I was hitting the limits earlier (already for 100000 write operations). Since we pack at least one hundred datoms per tree node at the moment, this would mean more than 10 million datoms by analogy, but I have not tried yet. I

[2018-12-27 19:21] #14 closed

[2019-01-08 09:46] CharlesHD commented on #7
@tonsky thanks for the explanation. It makes sense indeed, even if I would expect the query engine to be able to use the restriction given by clause 1 on clause 2.

Fortunately, the pull API can express this kind of restriction, even if it is less fun to use in my opinion.

Now that the reason is exposed, I let the issue open until the datahike team makes a decision about fixing this query behavio

[2019-01-17 09:07] kordano opened #16 "Add test coverage, dependency, and version badges"

[2019-01-21 00:40] #15 closed

[2019-01-21 00:41] whilo commented on #11
This fixes the issue, I have tested it.

[2019-01-21 00:41] #11 closed

[2019-01-21 00:43] whilo commented on #7
It is arguable whether it is a bug. Datomic kind of takes the position that developers should be aware of the sizes of their relations. I agree that the query engine should automatically figure that out, but it is not obvious what the tradeoffs are exactly. It could be that tracking index statistics on these flat indices is too expensive, I have not thought that through yet.

[2019-01-21 00:44] whilo commented on #11
There are still the schema problems open though. I think datahike should throw if you try to assign the same attribute multiple times, which it doesn't here.

[2019-01-21 21:38] whilo opened #17 "Fix schema handling"
Cardinality settings on entities are currently not respected, i.e. unique attributes that are updated seem to be still visible sometimes as in the example from https://github.com/replikativ/datahike/issues/11.

[2019-01-22 12:49] kordano commented on #7
How should we approach these kind of issues?

[2019-01-22 13:22] kordano commented on #16
@whilo How and where should we run build and test processes?

[2019-01-23 00:59] whilo commented on #7
For this we need a query planner. I am kind of brainstorming about this as well for the probabilistic inference engine (anytime AI). For datahike it means that we need to quantify costs first and then take the query clauses and index statistics, build a graph of the query and then try to push constraints that minimize index operations (cost) as close to the index grounding as possible. We also nee

[2019-01-23 01:01] whilo commented on #16
I am for CircleCI 2.0 on github.

[2019-01-23 07:54] kordano commented on #16
Alright, I'll create a new issue for that and prepare build and testing pipelines.

[2019-01-23 07:55] kordano opened #19 "Create build and testing pipelines on Circle CI"

[2019-01-23 07:55] kordano commented on #19
Also add status badges to the readme.

[2019-01-23 13:05] #16 closed

[2019-01-23 13:17] kordano commented on #8
Currently testing the path issues on Windows 10. Had some issues preparing the dev environment with leiningen over the last days but now it's running. There are still some errors coming from the path. I'll debug and try to fix that in the next days.

[2019-01-23 13:19] kordano opened #21 "add FoundationDB integration"

[2019-01-24 07:06] kordano commented on #19
fixed with #20

[2019-01-24 07:06] #19 closed

[2019-01-24 17:13] mpenet opened #22 "misuse of transient"
Hi,

I was checking out if I can find low hanging fruits/obvious performance optimizations to apply by just reading the code before pulling out a profiler and I stumbled upon this:

[code]
It's a bit weird for 2 reasons:
* `to` is never used, I guess the intent was to use it as a source to `transient`
* while this *might* work because of an implementation detail of vectors, this is a misuse of tra

[2019-01-24 19:31] whilo commented on #22
This code is inherited from datascript and I agree that it is a bit odd. We are planning to rebase on the latest version of datascript as it has some fixes and new features. Do you think you could provide a pull-request there? If this is not working out, we can still incorporate the changes here afterwards.

[2019-01-24 20:00] mpenet commented on #22
Sure.
I'll do that. I will try to have a look at hitchhiker-tree as well.

[2019-01-25 00:42] whilo commented on #22
That would be nice. We still have to refactor and clean the hh-tree up a bit. I have mostly taken care of the ClojureScript port so far.

[2019-01-25 14:53] #22 closed

[2019-02-08 08:35] philoskim opened #24 "datahike on Andriod app?"
Could anyone tell me if datahike can be used in Android app on react native?

If not, any plan to support Android?

[2019-02-10 10:49] whilo commented on #24
Hey @philoskim. We have plans to support Android through react native, but unfortunately we are not there yet. The biggest blocking issue is to port the datahike query engine to support async IO. For what would you like to use datahike on Android?

[2019-02-11 00:47] philoskim commented on #24
Thanks for your reply. I am looking for the replacement for sqlite DB which supports datomic-like query,
 because unfortunately Datascript doesn't support durability.

[2019-02-11 00:47] #24 closed

[2019-02-12 22:08] whilo opened #25 "Support durable transactor functions"
Currently transactor functions work by directly referencing vars in the current execution context. This will not work reliably once we get replicated. We should draft a durable deployment scheme for these functions. A design issue is to keep cljs support working in a single runtime without eval.

[2019-02-12 22:09] whilo commented on #7
We have this issue on our Agenda (including a potential query planner) and will work with the guys of 3DF on this, but are not committed yet to any solution. I will close the issue for now, because we will stick to the Datomic/datascript default for now and leave it to the programmer.

[2019-02-12 22:09] #7 closed

[2019-02-26 12:57] kordano opened #26 "add spec to api core functions"

[2019-03-01 19:36] NeroVanbiervliet opened #27 "tools.reader error on repl start"
On starting a `lein repl`, it crashes. Top of stacktrace:
[code]

I found out that a very old version of `org.clojure/tools.reader` is used. Relevant part of `lein deps :tree`:
[code]

[2019-03-01 20:36] whilo commented on #27
Ok, thanks for reporting. We will fix this in the hh-tree dependencies. Do you know that you can override that?.

[2019-03-01 21:07] NeroVanbiervliet commented on #27
Thanks! You mean by adding `tools.reader` myself as a dependency? If i do so `[org.clojure/tools.reader "1.3.2"]`, I get a different error:
[code]

[2019-03-03 17:37] NeroVanbiervliet commented on #27
Ok, found out about `:exclusions`, but ended up having more errors.

[2019-03-04 06:59] whilo commented on #27
Right I see. I guess this is because we use an outdated ClojureScript version.

[2019-03-04 09:51] kordano commented on #27
I will have a look and try to fix this.

[2019-03-07 09:25] kordano opened #28 "rebase to latest datascript version"

[2019-03-26 04:30] whilo opened #31 "Remove unnecessary dependencies"
Currently datahike automatically pulls in ClojureScript, timbre, guava and a few other things. We should make these dependencies optional by going through our stack. This will also make it easier to have datahike run on GraalVM. @borkdude

[2019-03-26 08:33] kordano commented on #31
With the rebase I started cleaning and updating the dependencies too. Maybe we should also clean up the deps in our other libraries like konserve or hitchhiker tree.

[2019-03-26 09:01] borkdude commented on #31
I think stripping unnecessary deps is always a good thing, but I'm not sure if this will speed up GraalVM compilation.

[2019-03-27 06:25] whilo commented on #31
Yes, definitely. That is what I thought. My take is to declare the dependencies with `:scope-provided` in leiningen, but I guess it is better to move to `deps.edn`? I am a bit out of date with respect to current tooling.

[2019-03-27 08:44] kordano commented on #31
Agreed, we should try it with `deps.edn`.

[2019-03-29 17:16] kordano opened #32 "abstract index structures"
- the db should not differentiate between hitchhiker tree, the b+-set or foundation db as index
The following should be done:

- [x] a protocol for the indices should be created defining basic index functions: `slice`, `rslice`, `diff`, ...
- [x] a record should be created for the hitchhiker tree
- [x] a record should be created for the b+-tree
- [x] a record should be created for the foundation d

[2019-03-29 17:18] kordano opened #33 "add full schema support"

[2019-03-29 17:19] kordano commented on #33
Discussion in here: https://github.com/replikativ/datahike/wiki/Datahike-Schema-Proposal

[2019-03-29 17:21] kordano commented on #17
Should be handled with #33

[2019-03-29 17:22] kordano commented on #9
Pluggable index via #32

[2019-03-29 17:23] kordano commented on #31
with the datascript rebase we have a `deps.edn` as a starting point: https://github.com/replikativ/datahike/blob/28-datascript-rebase/deps.edn

[2019-03-30 11:22] corporatepiyush commented on #21
it would be great if it is achieved through a pluggable instance of Protocol which respects the generic Key-Value database API semantics.

[2019-03-30 13:49] kordano commented on #21
That's the plan with #32

[2019-03-30 21:42] whilo opened #34 "datahike.api should export its functions properly"
Currently the argument lookup and documentation does not work for the aliases in `datahike.api`. They should be properly aliased.

[2019-03-31 14:13] kordano commented on #34
I would recommend fixing that with #26

[2019-03-31 14:27] #28 closed

[2019-04-05 05:20] whilo commented on #13
@mgerlach-klick Yes, that is true. Did it work for you? I haven't found the time yet to figure it out, but we will aim to fix this over the next months with full schema support.

[2019-04-05 13:55] mgerlach-klick commented on #13
I don't recall. I believe I gave up before I got to that point. Maybe ping me once this is working and I'll give datahike another try?

[2019-04-18 13:19] kordano commented on #34
At some point we should merge core and api namespace. I will add another task for that.

[2019-04-18 19:18] whilo commented on #34
I left core and api separate, because api is actually the datomic api. I thought core would support core.async at some point for cljs, whilo datahike.api will always be sync. We can also merge them and have separate functions for each case.

[2019-04-25 09:37] kordano opened #38 "hash changes for the same transaction"
The same transaction on a db value results in different hash values:

[code]

[2019-04-26 08:56] FalseProtagonist commented on #21
Am I right to think that this would be the first durable DB backend other than a flat file? If it's equally hard I imagine that dynamodb would provide more reach?

[2019-04-26 09:05] whilo commented on #21
@corporatepiyush @FalseProtagonist  Just to give a bit of context. The KV-semantics can usually be mapped to konserve, which is already support for our default index datastructure, the hitchhiker-tree. Writing a DynamoDB backend should be enough to store datahike there (similar to the konserve CouchDB, Redis or Riak backends), but we still need to provide a networked transactor instance to become

[2019-04-26 09:15] FalseProtagonist commented on #21
@whilo thanks for the reply, so there are already backends for all those databases? Is there a doc somewhere on how to set them up? + where's the code location in case one wanted to write one for DynamoDB

[2019-04-26 09:24] kordano commented on #21
@FalseProtagonist Currently I'm working on the protocols for that. Currently only an in-memory and file-based backend is implemented. I will show you how you could add different backends, once I finished that.

[2019-04-26 09:27] whilo commented on #21
The projects are referenced here: https://github.com/replikativ/konserve. Looking at memory and the filestore.clj backend should give you a reasonable idea of how to integrate it. Exposing that in datahike will be comparatively simple. @kordano is working on exposing different index semantics directly, which makes datahike portable beyond the hitchhiker-tree, but I think you want to use DynamoDB j

[2019-05-03 09:44] purrgrammer commented on #10
This has [already been ported from Datascript](https://github.com/replikativ/datahike/blob/master/test/datahike/test/upsert.cljc#L40-L50).

[2019-05-03 12:14] #10 closed

[2019-05-04 07:07] whilo commented on #38
The hitchhiker-tree has mutable helper objects attached to tree nodes, maybe its hashes break equality.

[2019-05-08 06:32] bzg commented on #27
Just to add another input on this: using `[org.clojure/core.async "0.4.490" :exclusions [org.clojure/tools.reader]]` in the project.clj's dependencies works for me with java `openjdk version "1.8.0_191"`.

The `:cause Must hint overloaded method: toArray` seems unrelated to the `tools.reader` issue, it is most probably an issue with using `java =>11`.

[2019-05-08 06:37] NeroVanbiervliet commented on #27
Currently, I'm using datahike version `0.2.0-beta` (available on clojars) and all is well on openjdk 1.

[2019-05-10 15:13] kordano opened #40 "move parser namespace to separate project"
Move `datahike.parser` namespace to new separate project.

- [x] create new project
- [x] move namespace and tests
- [x] add readme and example
- [ ] import in datahike

[2019-05-10 15:13] kordano commented on #40
New project at : https://github.com/lambdaforge/datahike.parser

[2019-05-16 12:32] kordano opened #44 "add storage layer protocols"

[2019-05-26 07:52] whilo commented on #44
What is the exact purpose of this abstraction? We already support storage layer abstraction through konserve and the index-layer abstractions operate at a layer higher, where the setup of the underlying index already determines the storage layer properties, e.g. FoundationDB.

[2019-05-27 15:13] kordano commented on #44
Ok, then we have to document it here in datahike. So people can write their on backends for the database. Maybe I'll add that to my readme/wiki refactoring planned for July.

[2019-05-30 16:40] kordano opened #45 "adjust circle ci build to run only on master and development branch"

[2019-06-05 17:17] canadaduane opened #46 "Java / Kotlin example use?"
Has datahike been used by Java / Kotlin projects? Are there any examples of such usage?

[2019-06-07 19:05] grischoun commented on #46
Currently it has not been used by a Java or Kotlin project.

But we have plans to soon 1) add a Java API in the form of a Java wrapper around the Clojure API and 2) add an interface to allow clients to remotely access to the database.

Do you have any particular usage in mind? Or anything you are interested in?

[2019-06-07 21:18] canadaduane commented on #46
Neat, thanks. I'm making a few PoC projects on various CRDT libraries to test the waters & learn more. We currently use Kotlin for our web app back-end, and I was curious if there might be a drop-in library for testing replication in a clients+server scenario. We also have ambitious p2p ideas, but I'm starting with a little bite at a time :)

[2019-06-10 17:59] whilo commented on #46
@canadaduane Cool, seems you share a lot of interests with us. With whom are you working? We are working on integrating CRDTs with datalog. If you like to help out to build a Java/Kotlin API, we could approach it faster.

[2019-06-10 18:14] canadaduane commented on #46
I'm working with Medici Land Governance. We're working on some ideas for offline-first apps (both mobile and web-based). I haven't heard of datalog previously, but would like to learn more. What do you recommend I read?

[2019-06-10 18:39] grischoun commented on #46
@canadaduane Here is an introduction to Datalog that I found useful: https://x775.net/2019/03/18/Introduction-to-Datalog.html

[2019-07-02 13:16] kordano opened #54 "unify error handling"
The exceptions should have a unified concept across all namespaces.

[2019-07-08 10:50] kordano opened #56 "add temporal index"

[2019-07-16 16:23] kordano commented on #44
Will be fixed with #37

[2019-07-16 16:23] #44 closed

[2019-07-23 10:22] #32 closed

[2019-07-23 10:22] #38 closed

[2019-07-23 10:22] #45 closed

[2019-07-23 10:22] #40 closed

[2019-08-04 21:41] boxxxie opened #59 "entity/touch entity/get not resolving db/ident"
I have a DB where i have a bunch of idents, and when i get an entity out of the DB and use `(get)` or `(touch)` which uses an ident ref, it will come back as a set of `:db/id`

Is the expected behaviour for get or touch in this case to give me back the translated value of the ident (in this case keywords)?

also, possibly related, when i use `(walk/postwalk identity entity)` this throws an error.

[2019-08-05 19:46] boxxxie commented on #59
After looking up this topic for a while, i think this is the correct behaviour in terms of returning `{:db/ident :ident-name}` when being touched. to me it seems like it lowers the utility of idents.

however, the `(walk identity entity)` code throwing errors seems wrong. i've looked over the entity namespace, and i'm not really sure how to go about fixing this behaviour

[2019-08-06 09:35] kordano commented on #59
I'll have a look at it @boxxxie . Could you add some code example, so I can reproduce this behaviour? Thanks.

[2019-08-07 21:32] boxxxie commented on #59
I'll try up something soon that uses datomic and datahike side by side for this issue.

[2019-08-08 08:23] kordano commented on #59
Thanks.

[2019-08-09 10:25] grischoun opened #60 "start adding documentation"

[2019-08-10 21:13] #59 closed

[2019-08-11 17:55] boxxxie opened #62 "Adding data to the DB is very very slow"
i am adding 1000 small objects to the DB at once (maybe 30 datoms) and it's taking 72 seconds.

i'm using `transact!`

is this expected? is it possible that this is an area for easy optimization? is this possibly an issue with hitchhiker tree?

[2019-08-11 22:33] whilo commented on #62
Hi, thanks for reporting this issue. Can you provide a small snippet to reproduce?

[2019-08-13 08:32] kordano opened #64 "add `:db/evict` to temporal index"

[2019-08-13 14:17] boxxxie commented on #62
i'll whip up something soon.
i'm using test-check generators to populate, but i'll need to see if performance is similar with duplicate items

[2019-08-13 14:37] kordano commented on #62
I created a small performance example inside datahike to measure the transaction time with different transaction sizes. Currently I'm running that and checking against in-memory, various backends, and datomic. I'll let you know, what I found there.

[2019-08-14 13:59] grischoun opened #65 "add java api"

[2019-08-14 14:40] kordano opened #66 "add missing datomic query and transactor signatures"

[2019-08-14 22:04] boxxxie opened #67 "{:db/ident keyword} should be able to be transacted"
the official datomic documents give me the impression that i should be allowed to do something like

`(dh.api/transact conn [{:db/ident :a/keyword}])`

however, when i attempt to do this i get an error

[code]

[2019-08-15 09:02] kordano commented on #67
I found this issue as well and fixed it in my development branch. Should be available in the next release.

[2019-08-15 09:03] kordano commented on #67
In addition I'll create a document about what datomic features are supported and what is different.

[2019-09-17 11:12] #64 closed

[2019-09-17 11:13] #31 closed

[2019-09-17 11:13] #56 closed

[2019-09-17 11:13] #26 closed

[2019-09-17 11:13] #33 closed

[2019-09-23 07:46] kordano opened #72 "add simple history garbage collection"

[2019-09-23 18:35] kordano opened #73 "fix roadmap in readme"

[2019-09-27 00:51] jdf-id-au opened #74 "migrate namespace missing?"
I'm so excited about this project, thank you.

Where has the `datahike.migrate` namespace gone? Is there a new way to export and import?

`(require '[datahike.migrate :refer [export-db import-db]])` no longer works.

[2019-09-27 09:00] purrgrammer opened #75 "Using idents as query parameters doesn't unify then"
While using idents I noticed that keyword literals are unified just fine in queries. However, when passing ident keywords as arguments they are not unified. A minimal example looks like this:

[code]

The above queries are equivalent, so I'd expect to get the same result from both.

[2019-09-27 20:08] kordano commented on #75
Thanks. It shouldn't behave like that. I'll add a test and fix in the next patch release.

[2019-09-27 20:09] kordano commented on #74
I kind of missed it in the datascript integration. I'll add it again with the new schema and time travel in the next patch release.

[2019-10-01 14:06] rschmukler opened #76 "Cannot open a relative filepath"
Hey! Thanks for this amazing library.

In my application I'd like to open a database at a relative file path. I've tried many permutations of paths but all seem to throw errors in one form or another. See below for my attempts and their results. Is this possible?

[code]
[code]
(Presumably trying to write to `/data` instead of `./data`)

[code]
Both throw:

[code]

[code]

[code]

[2019-10-01 17:44] kordano commented on #76
Thanks, I'll add it as a test case and see how it could be fixed.

[2019-10-01 23:43] bhurlow commented on #62
nice work on the latest release! I was playing around with the latest datahike on a plane today, also found transact to be suspiciously slow:

[code]

I'm using the konserve-pg backend in this case. I wonder if ya'll have plans for a transaction WAL of some kind, as re-indexing on each write is probably a bottleneck (maybe hitchhiker has this)

[2019-10-02 01:21] px0 commented on #13
I'm excited about trying v0.2. Is schema migration working now?

[2019-10-02 01:31] px0 commented on #13
Replying to myself, found this: https://github.com/replikativ/datahike/blob/master/doc/schema.md#migration

[2019-10-03 17:04] cjsauer opened #77 "transact vs transact!"
Hi there 👋

Amazing project, thank you for sharing.

Out of curiosity, why `transact` instead of `transact!`? Both DataScript and Datomic use the bang `!` convention, I'm wondering why Datahike doesn't do the same.

[2019-10-03 19:45] whilo commented on #77
`transact` is actually the one used by Datomic and our api namespace focuses on Datomic compatibility while we internally still use most of the DataScript conventions:

https://docs.datomic.com/on-prem/clojure/index.html#datomic.api/transact

The bang notation is unfortunately only losely used in Clojure land as far as I can tell. I think `transact!` corresponds to `transact-async` in Datomic @kor

[2019-10-03 19:48] whilo commented on #76
One thing to keep in mind that relative paths for this can be tricky because the JVM has its own classpath to which it calculates relative positions. If you use this in configuration files or scripts it might break easily. @rschmukler do you happen to know how other JVM storage solutions handle this?

[2019-10-03 19:52] cjsauer commented on #77
🤦‍♂ oops, I misremembered, should've done a bit more research. Sorry for the noise here.

[2019-10-03 19:52] #77 closed

[2019-10-04 17:01] rschmukler commented on #76
@whilo I'm not too sure of the intricacies of getting the current working directory from the JVM. Historically I have used `(.getAbsolutePath (io/file ""))` to retrieve it. This works well, at least for Linux / MacOS based systems that I've used.

Looking at [Rayes](https://github.com/Raynes/fs/blob/master/src/me/raynes/fs.clj#L20) it looks like they do something similar in their `cwd` implementat

[2019-10-07 19:48] px0 opened #78 "datahike api does not support lazy data structures"
The Datahike API fails to support lazy sequences (`clojure.lang.LazySeq`). Seeing how pervasive lazy sequences are in Clojure, I would expect this to work, and to realize the sequences where required. I have observed this behaviour in both `q` and in `transact`.

For `q` it's as easy as adding this defmethod to `api.cljc`:

[code]

I have not looked into what it would take to do something similar

[2019-10-10 20:28] whilo commented on #78
Maybe I am missing your point, but `apply` is not lazy, so no matter what the semantics of `d/q` would be this would be eagerly evaluated in Clojure. Can you try to give a larger example without apply?

[2019-10-10 20:30] whilo commented on #76
Yes, I think we can support it with this semantics in file URLs.

[2019-10-21 09:29] whilo commented on #78
I assume this issue is resolved, open a new one if you need.

[2019-10-21 09:29] #78 closed

[2019-10-21 11:52] kordano opened #80 "move schema data completely into index"

[2019-10-21 11:56] kordano opened #81 "remove datoms from pr-db and pp-db"

[2019-10-21 11:59] kordano opened #82 "create record for config"

[2019-11-09 10:45] plexus opened #88 "Fix cljdoc build"
Seems cljdoc is having a hard time analyzing the source code, see for instance this [build log](https://circleci.com/gh/cljdoc/builder/10602)

[code]

In the schema namespace the `Datom` class is being imported, but not the `datom` namespace. This fails unless the datom namespace has been loaded previously, since the class only comes into existence when the `deftype` is executed.

[code]

`Datom`

[2019-11-11 12:05] kordano commented on #88
Thanks for the suggestion. I'll fix the import.

[2019-11-11 19:22] whilo commented on #62
Yes, we are planning for that. But if I remember correctly datomic free also was synchronizing each transaction and I had to manually batch transactions. I had done that here for replikativ:

https://github.com/replikativ/twitter-collector/blob/master/src/twitter_collector/core.clj#L38

Could you work around that issue for now?

[2019-11-14 08:37] dinnymate opened #90 "Error when accessing uuid attribute with entity api on postgres backend"
**It does not happen on mem backend.**

[code]

[2019-11-14 23:41] tristanstraub opened #92 "Pull syntax fails on UUID"
Getting the following error from pull syntax involving attribute that is type UUID:

[code]

The following code triggers the exception:

[code]

[2019-11-14 23:45] whilo commented on #92
This issue is already fixed in the current development branch with the new hitchhiker-tree. Thanks you for reporting though.

[2019-11-14 23:46] whilo commented on #90
This issue is already resolved in the current development branch. Thank you for reporting though.

[2019-11-15 03:26] tristanstraub commented on #92
Closing as resolved.

[2019-11-15 03:26] #92 closed

[2019-11-15 08:03] dinnymate commented on #90
Which commit is this? I'm trying 1ae7bdcd05b1939c8684910e4adde54a861043dc but i'm not even able to connect to postgres.

[2019-11-15 08:31] whilo commented on #90
Yes. We will move all backends except for memory and filesystem into separate dependencies. You need to include `[org.clojars.mihaelkonjevic/konserve-pg "0.1.2"]` in your own project dependencies to use the Postgres backend until we have completed this process.

[2019-11-17 16:33] dijonkitchen opened #93 "Update Datascript link in Release notes"
Looks like https://github.com/replikativ/datahike/releases has a link to https://github.com/lambdaforge/datalog-parser for Datascript, instead of https://github.com/tonsky/datascript

[2019-11-17 19:50] whilo commented on #93
Fixed, thanks!

[2019-11-17 19:50] #93 closed

[2019-11-18 18:43] Hendekagon opened #95 "Unknown predicate 'get"
I don't know if this is something Datahike doesn't support or if I'm doing it wrong, but have a clause in my query `[(get ?my-set ?k)]` which ensures that `?k` is in `?my-set`, a Clojure set:

`Execution error (ExceptionInfo) at datahike.query/filter-by-pred (query.cljc:548).
Unknown predicate 'get in [(get ?my-set ?k)]`

[2019-11-19 00:31] whilo commented on #95
Datahike, like Datomic, is normalized, so logic variables do not normally bind collections, but primitive values like string, numbers or keywords. I am not sure how you intend to construct `?my-set`. You could use `clojure.core/get` explicitly to call it on the value of both logic variables, but this requires that they are bound and is not optimized in the same way as joining against the primitive

[2019-11-19 09:14] Hendekagon commented on #95
hi, I pass `?my-set` into the query like `{:in [% ?my-set] ...}` - the clause `[(get ?my-set ?k)]` ensures that `?k` is a member of `?my-set`
Well, using `clojure.core/get` works! Thank you for you help @whilo

[2019-11-19 11:45] kordano opened #96 "Overhaul ID generation"
Since version 0.2.0 datahike adds also meta-entities to the index with transaction IDS as entity IDs in order to bind these meta entities to all transaction entities. We need better index ranges and proper definitions now.

[2019-11-19 11:46] kordano commented on #80
#96 relevant to this

[2019-11-20 06:59] whilo opened #97 "Support multiple named database roots (branches) per store"
I think it would be meaningful to allow a git branching like mechanism to fork the identity of the database into multiple named branches. Right now the root is always stored in konserve under the `:db` key, but this could be an arbitrarily named `:branch-name` and we provide a forking function. We should also keep track of all the branches that have been created, e.g. in a separate file that is up

[2019-11-20 09:33] kordano commented on #97
Sounds like a good idea. Since I'm re-structuring the db record with cleaner configuration we could add this information into the db as well.

[2019-11-20 23:56] whilo commented on #95
You can add your primitives to https://github.com/replikativ/datahike/blob/master/src/datahike/query.cljc#L227. The scope of the Datalog query is not the same as the namespace you define it in because of quoting, therefore you have to use fully qualified names otherwise.

[2019-11-20 23:56] whilo commented on #95
I will close that for now, feel free to open new issues, if you encounter issues.

[2019-11-20 23:56] #95 closed

[2019-11-21 10:19] whilo commented on #34
Fixed with 0.2.0 release.

[2019-11-21 10:19] #34 closed

[2019-11-21 10:30] whilo opened #98 "Decouple backend development from core"
Backends based on special stores like `konserve-pg` or `konserve-ddb-s3` should not require any changes to Datahike to be developed. For the kind of changes that are still necessary see https://github.com/replikativ/datahike/pull/89. In particular the URL schema check should not fail if a backend is not known to the core, the multimethods defined for backends already work accordingly.

The existin

[2019-11-26 09:28] Hendekagon commented on #95
thank you @whilo

[2019-11-26 15:11] kordano commented on #74
@jsmassa please add `datahike.migrate` namespace again with `export-db` and `import-db`. The datoms from the `:evt`index should be serialized as vectors and printed per line into an export file.

[2019-11-28 18:28] whilo commented on #98
Since some of our users now depend on the LevelDB backend in production, @markusalbertgraf, we should consider to keep the support in addition to RocksDB, but move it to a pure Java solution: https://github.com/markusalbertgraf/clj-leveldb, https://github.com/dain/leveldb. I can make the switch in the konserve-leveldb backend.

[2019-11-29 18:27] whilo commented on #98
https://clojars.org/org.clojars.markus/clj-leveldb

[2019-12-06 04:30] julienfantin opened #102 "Running benchmarks"
Was curious to run the project benchmarks but ran into some issues:

1. The `bench/bench` script failed with:

[code]

2. The `bench/bench.clj` seemed like a more up-to-date version but that didn't work either:

[code]

3. Finally I did find the `examples/performance` directory but I'm unable to start a repl there either because datahike's `db/id` data reader seems to conflict with datomic's:

[co

[2019-12-06 09:15] whilo commented on #102
Thanks for reporting the issue! The benchmark scripts are on our agenda after the next bugfix release. @jsmassa will do measurements and provide automatic benchmark scripts.

@julienfantin Is there something specific that you are interested in?

[2019-12-06 13:28] kordano commented on #102
We will probably move the whole performance suite into a separate project where we can also publish the results.

[2019-12-06 16:33] julienfantin commented on #102
@whilo I noticed you'd made progress towards restoring ClojureScript compatibility so I was really curious to see how the performance compares to DataScript in browsers and Datomic on the JVM. IMHO a main consideration for early adopters is knowing what the performance trade-offs are compared to the alternatives, which is something the README does not currently address.

@kordano Glad you're plann

[2019-12-11 13:28] nickik commented on #65
Are talking here about a simple Java API to access the same function in a more idiomatic way or are we talking about a Java DSL like JOOQ for SQL (see: https://www.jooq.org/) or Datomic has something planned (See: https://github.com/stuarthalloway/presentations/blob/master/PhillyETE_2015/datalog.pdf).

I think both would be useful.

[2019-12-11 13:35] nickik opened #103 "Support 'txReportQueue' feature from Datomic"
In order to make a simple event-based system having the ability to subscribe to changes would be useful.

[2019-12-11 18:00] den1k opened #104 "Support for tuples"
Tuples recently landed ind atomic on-prem and cloud. Personally, that was always a missing piece of datomic and I'd love for it to land in datahike.

https://docs.datomic.com/on-prem/schema.html#tuples

[2019-12-16 07:57] whilo commented on #103
We would probably provide a core.async interface for that. It should not be too hard to wrap the transact function to provide a similar functionality already.

[2019-12-16 07:58] whilo commented on #102
I agree that performance tests should be part of the core repository and ideally tests should fail on performance regressions.

[2019-12-16 19:46] grischoun commented on #65
In the next release, there will be an API that accesses the same functions in an idiomatic way.
But we are also planning to add a specific Java API for queries that should look like the Datomic proposal (even though no decision is final for now).

[2019-12-20 15:37] kordano opened #107 "prepare 0.2.1 release"

[2019-12-20 17:57] kordano commented on #104
I'll add it with datahike `0.2.2`

[2020-01-03 21:26] den1k commented on #92
FWIW this also happens w/ dates `Type not supported:class java.util.Date`

[2020-01-11 06:42] dchacke opened #111 "All entity attributes gone"
I have been using datahike in production where I write to disk. After restarting the server and reloading the db from disk, I got the following error while running the schema:

[code]

It looks like it's trying to create two posts with the same db id *while loading the schema*. So that's the first weird thing; and my question about it is: am I not supposed to transact the schema once more against

[2020-01-11 07:18] dchacke commented on #111
BTW on that note, shouldn't the schema be loaded *before* the rest of the db is loaded from disk?

[2020-01-14 12:30] kordano commented on #111
thanks @dchacke for the insight. Usually you only need to write the schema once to the database and add new schemata afterwards. I'll have to take a look if somehow the read after re-connecting has some issues with some schemata.

[2020-01-14 13:49] kordano commented on #111
Could you run me through the process how you read the db again from disk? I'm trying to understand how this could have happened.

[2020-01-14 17:15] dchacke commented on #111
To read the db from disk, I do the following:

[code]

As you can see, this currently includes the mistaken step of transacting the schema every time.

[2020-01-14 17:16] dchacke commented on #111
To read the db from disk, I do the following:

[code]

As you can see, this currently includes the mistaken step of transacting the schema every time.

[2020-01-15 14:45] #107 closed

[2020-01-17 15:13] kordano commented on #111
Yes, thanks. So you call this each time you restart your application with all data at that folder? Basically you shouldn't create the database again. A re-connection should be enough.

[2020-01-17 18:25] dchacke commented on #111
Yes.

Well, `d/create-database` throws an exception, which I use to infer that the database already exists. I wouldn't want to manually check for the existence of the database every time I run my application in a new environment. Is there a `(d/exists? uri)` or something along those lines that I could use instead of relying on the exception?

And: does `d/create-database` have an effect on the alr

[2020-01-18 21:09] whilo commented on #102
@julienfantin Personally I think you should not make decisions based on performance unless you buy into a solution heavily. The performance problems that pop up later are often difficult to judge, but everybody wants to believe that they need to scale massively up, because that would mean they are super successful. This is the main reason why MongoDB exists. A goal of datahike is to be compatible

[2020-01-22 08:50] kordano commented on #111
There is a function called `database-exists?` in the `api`namespace for this kind of initialization.  `create-database` doesn't change anything if a store already exists in the location. Could you help me create a test case for your problem, so I can check it myself?

[2020-01-23 14:59] kordano opened #112 "Add keyword reference to db search"

[2020-01-27 08:00] MrEbbinghaus opened #113 "Exception when loading a file-based db created in 0.2.0 with 0.2.1"
When connecting to a file-based db created with 0.2.0 I get the following exception shown below.

Create + connect with 0.2.1 works fine, so I suspect, that there is some kind of incompatibility between the versions.

[code]

[2020-01-27 13:24] xificurC opened #114 "cas for nil should work"
[Datomic docs](https://docs.datomic.com/cloud/transactions/transaction-functions.html#db-cas) state that a CAS works for initial value of nil. This allows to insert the first value transactionally. But today in datahike this fails

[code]
[code]

Same happens for a db ref. Both blow up in transact-tx-data, one calling entid-strict and one validate-val. Before validating the data we'd need to check

[2020-01-29 14:04] kordano opened #117 "can't checkout repository on win10 because of invalid paths"
[code]

[2020-01-29 15:20] elMor3no commented on #113
Hi @MrEbbinghaus , thanks for reporting this issue.

[2020-01-30 19:25] whilo commented on #113
@MrEbbinghaus You can inject `[io.replikativ/hitchhiker-tree "0.1.6-SNAPSHOT"]` and the error should be gone. We will release a new hitchhiker-tree and Datahike 0.2.2 bugfix release covering this issue soon.

[2020-01-31 11:56] xificurC opened #118 "parameterized query with lookup ref returns different result to inlined lookup ref"
*Might* be related to #75 . An invalid inline lookup ref throws an exception, a parameterized one doesn't.

[code]

[2020-01-31 12:02] xificurC commented on #118
This seems to be the same in datascript, @tonsky
[code]

[2020-01-31 12:48] xificurC commented on #118
After 40 minutes of digging I didn't find a quick solution so I hope someone more at home will take a crack at this. I'll open an issue in datascript as well as this seems to be lifted from there.

[2020-02-02 02:00] jjtolton commented on #118
@xificurC what is the expected behavior?

[2020-02-02 19:10] xificurC commented on #118
After thinking about it, I think of `[[:id :b] :foo ?foo]` as a shorthand for `[?e :id :b] [?e :foo ?foo]`, which doesn't throw

[2020-02-02 19:49] xificurC commented on #118
More discussion of the same issue [in datascript](https://github.com/tonsky/datascript/issues/335)

[2020-02-05 17:46] jjtolton commented on #104
@kordano discussed this briefly in the clojurians slack channel.  Want to make sure you're in alignment with the proposed behavior changes: https://github.com/tonsky/datascript/issues/323#issuecomment-582485607

The schema would, of course, be Datahike/Dataomic compatible per https://docs.datomic.com/on-prem/schema.html#composite-tuples.

I'm still uncertain about the behavior of pulls/queries in

[2020-02-06 17:34] jjtolton opened #119 "Provide out-of-the-box support for redis backend"
Support the following:

[code]

and should work as expected.

[2020-02-06 18:59] den1k commented on #104
Thanks for considering my input. I want to be upfront in saying I haven't yet used tuples in datomic so I don't have good intuition for the design decisions waiting to be made here. Is there reason to deviate (far) from datomic?

[2020-02-07 02:08] jjtolton commented on #104
Gonna try to match it as closely as possible!  @kordano I just want to verify that I'm not doing a parallel effort if you've already picked this up and started working it?

[2020-02-07 15:39] xificurC opened #121 "or-join join variables check broken"
This works in datomic. Even reading the exception one can see it's lying :)

Take this with some doubt but I was quickly trying to find the issue and it seemed the code was validating the joined variables against all branches of the `or-join` one by one, so it dies on the first one with the `not` clause. This seems to be proven with the second attempt below where a dummy clause is entered and the

[2020-02-07 18:13] kordano commented on #104
Hi @jjtolton I'm currently not working on that. Thanks for your help.

[2020-02-07 18:22] kordano commented on #119
Thanks @jjtolton , I'll get to it in the next days.

[2020-02-07 18:23] kordano commented on #119
I'll add it to the 0.2.2 release and mention you in the change log if that is alright.

[2020-02-07 18:27] kordano commented on #121
That is weird behaviour indeed. I'll have a look at it.

[2020-02-07 22:51] jjtolton commented on #119
@kordano no problem, thank you!.  It might be a good idea to close https://github.com/replikativ/konserve-carmine/pull/3 first and then update the `konserve-carmine` dep to `"0.1.3"` so that we can add the most polish to 0.2.2!

[2020-02-08 16:11] TimoKramer commented on #12
how to test this? I used Ubuntu 18.04 with JDK11 and there was no problem.

[2020-02-10 17:58] whilo commented on #98
This is effectively done with `0.2.1`, we still need to be able to specify configurations for Datahike more flexibly though to cover properties like AWS regions.

[2020-02-10 17:58] #98 closed

[2020-02-10 18:12] whilo commented on #62
This issue should be solved with `0.2.1`, previously we were printing the database after each transaction, which is the default behaviour of DataScript, but not reasonable for a durable database and can give unfortunate performance if you evaluate transact in the REPL.

Looking at your example again closely, you have to keep in mind that `transact` effectively ensures a roundtrip to the storage me

[2020-02-10 18:14] whilo commented on #17
Thanks.

[2020-02-10 18:14] #17 closed

[2020-02-12 10:05] kordano commented on #12
With the latest version this doesn't occur any more.

[2020-02-12 10:05] #12 closed

[2020-02-12 10:29] #114 closed

[2020-02-13 11:37] tatut commented on #13
Adding new attributes to any `:db/ident` entities seem to fail

[code]

Running that will throw:
[code]

[2020-02-15 16:23] markusalbertgraf opened #122 "some lookup-refs fail"
Hi,
I use the `uuid`s with `cardinality many` and `unique identity`.
Some  lookups by lookup-ref fail.
I have written a minimal case that reproduces the error on my machine in about a third of the lookups here:
https://github.com/markusalbertgraf/datahike-uuid-lookup
please check whether you can reproduce this.

[2020-02-15 22:31] whilo commented on #122
Thank you for taking the time to factor out the error. Interestingly it seems to be UUID specific, I cannot reproduce it if I stringify the UUIDs.

[2020-02-15 23:49] whilo commented on #122
I have quickly ruled out that it is the UUID comparator in the hitchhiker-tree, it does not seem to be the problem.

[2020-02-16 10:24] markusalbertgraf commented on #122
Thank you for your quick response. I just observed that switching the db from file to mem more than doubles the error-rate, from around 30% to above 70% on my machine.

[2020-02-16 20:22] whilo commented on #122
Interesting, that means it is not hitchhiker-tree related. @kordano I therefore suspect that the insertion logic is having an edge case triggered by UUIDs.

[2020-02-17 09:50] markusalbertgraf commented on #122
I just checked squuids.  They do *not* trigger the error.  That's why my app works and the foreign keys introduced the problem.
[code]

[2020-02-17 19:21] markusalbertgraf commented on #122
When I checked different backends I noticed that while with a db of 1000 entities mem had the most errors with 10 entities it had the least.  So out of curiosity I plottet the error frequency per backend per number of entities.  The result may or may not be useful to find the bug but it is definitely peculiar if not spectacular.  The range of error percentage stabilizes with the number of entities

[2020-02-18 20:33] whilo commented on #122
@purrgrammer You have fixed the UUID support in the hitchhiker-tree and mentioned that the comparator is broken in Java. Can you elaborate with a few sentences on this? Maybe that helps to pin down the issue.

[2020-02-18 20:36] whilo commented on #122
@markusalbertgraf That is a very nice plot, I wish more debugging was done visually and with descriptive statistics. I am not sure how helpful it is to find the bug, but it will be interesting to interpret afterwards at least.

[2020-02-19 09:27] markusalbertgraf commented on #122
Just to clarify: It is only the `lookup ref` that fails.
So this fails:
[code]
but this works:
[code]
and can serve as a workaround.

[2020-02-20 16:12] purrgrammer commented on #122
Sorry I didn't have time to look deeply into this issue not much free time at the moment unfortunately.

To elaborate a bit more on the changes to UUID handling, there is a [Java bug](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=7025832) in UUID comparison implementation: it does a numerical compare of the most and least-significant bits of the UUID (encoded as two Long), but Long type is

[2020-02-27 11:05] wandersoncferreira opened #123 "Questions about the behavior of multiple db transacting"
Hi, I met the project because of my simple impl of a similar idea. Congrats by the complete solution!! I was studying a particular situation to implement in my scenario as well. The question is more like, what is the correct answer for the sequence of transactions below? What happened with the transaction I did with the conn2 value? It looks like there's only a single writer and whoever commits la

[2020-03-04 09:05] whilo commented on #123
Thanks for reporting! We plan to address this issue with our new transactor and maybe an interim bug fix. Please use a single connection for now.

[2020-03-05 02:25] whilo commented on #119
Hey @jjtolton! I have merged your changes into `konserve-carmine` and pushed `0.1.3` to clojars. What are the next steps to populate the `datahike-redis` repository?

[2020-03-06 01:15] jjtolton commented on #119
It should be a fairly straightforward fairly, I’ve just been buried work.
 :O I should have time this weekend.

On Wed, Mar 4, 2020 at 9:25 PM Christian Weilbach <notifications@github.com>
wrote:

[2020-03-07 23:29] jjtolton commented on #119
@whilo https://github.com/replikativ/datahike-redis
Populated :)
Needs to be pushed to your clojars then I can update instructions.  Also need to setup travis or circle-ci to do tests and integration tests with redis.

[2020-03-09 05:31] whilo commented on #119
Thanks a lot! I have pushed `0.1.0-SNAPSHOT` onto clojars. Having travis or circle-ci set up would be really good! :)

[2020-03-09 13:14] jjtolton commented on #119
Great :) I'll update the README today

On Mon, Mar 9, 2020 at 1:31 AM Christian Weilbach <notifications@github.com>
wrote:

[2020-03-09 13:28] TimoKramer commented on #82
1. read config from file
  - storage connection
  - schema
1. merge config with envvars
1. validate config
1. save config to record

[2020-03-10 19:43] TimoKramer commented on #82
priorities of config:
1. defaults
1. file
1. env
1. connect arguments
file, env and connect arguments are optional and via defaults there will be running an in-memory store

[2020-03-10 19:46] TimoKramer commented on #82
[code]
will be top level configs for now, like the corresponding namespaces

[2020-03-12 11:13] TimoKramer commented on #82
how to do it in cljs?

[2020-03-12 18:53] whilo commented on #82
Hey Timo! Thanks for working on this. Ideally the data structure for the config should look the same in cljs. What do you mean exactly?

[2020-03-12 19:08] TimoKramer commented on #82
I think it should have the same structure...I was referencing my problem with knowing nothing about how to handle any kind of env in js/node. I switched to using https://github.com/weavejester/environ for now, because it hopefully just works there. It seems to consider the usage in clj and cljs at least.

[2020-03-28 20:17] den1k opened #129 ":db/noHistory support"
Transacting:
[code]

fails. Can noHistory be supported by datahike?

[2020-03-28 23:18] kommen opened #130 "Unnecessary (transient) dependencies?"
`clj -Stree` shows this dependency tree for datahike 0.2.1:

[code]

I'm a bit surprised about the `org.clojure/clojurescript 1.10.339` transient dependency, which adds quite some weight and I'm wondering if it is really necessary?

[2020-03-29 00:18] whilo commented on #130
That is totally correct. It is pulled in through konserve though. Can you open this issue on the konserve repo instead?

[2020-03-29 00:23] kommen commented on #130
Done: https://github.com/replikativ/konserve/issues/32

[2020-03-30 00:06] den1k opened #131 "transact throws on dates"
[code]

[2020-03-30 00:12] den1k commented on #131
It looks like a `Date` comparator is missing in hitchhiker-tree.

https://github.com/replikativ/hitchhiker-tree/blob/master/src/hitchhiker/tree/key_compare.cljc#L158

[2020-03-31 02:47] whilo commented on #130
Thank you!

[2020-03-31 02:47] #130 closed

[2020-03-31 16:25] kommen opened #133 "Postgres connections requiring SSL not supported"
When a postgres connection url specifies options such as `:ssl true`, they are not passed on to jdbc driver. See https://github.com/clojure/java.jdbc#example-usage which specifies `:ssl` and `:sslfactory`.

This is critical if one wants to use a hosted Postgres Database like from [heroku](https://www.heroku.com/postgres), which requires ssl for connecting.

[2020-03-31 22:13] whilo commented on #133
This requires fixing here: https://github.com/replikativ/datahike-postgres/blob/master/src/datahike_postgres/core.clj. @kordano @TimoKramer I think this is addressed by the new configuration approach, right?

[2020-03-31 22:14] whilo commented on #133
Nonetheless, it should be easy to patch the current version of `datahike-postgres` to support this to get you started.

[2020-04-01 08:56] whilo commented on #131
That is unfortunately correct. Thank you for reporting this issue!

[2020-04-01 16:10] TimoKramer commented on #133
it is not directly addressed by #128 but good to know what it needs to fulfil in the future. I could add this option after the PR is merged.

[2020-04-04 19:36] TimoKramer commented on #54
Proposal: Error handling should be unified in the way that each error emits a unified log message of the level error. Additionally there should be e.g. deprecation logs for the old way of configuring datahike. That means using a library like [clojure/tools.logging](https://github.com/clojure/tools.logging) for the logging facade.

[2020-04-06 15:55] TimoKramer commented on #54
for clojurescript support https://github.com/ptaoussanis/timbre might be a good option. what do you think?

[2020-04-11 10:04] kommen commented on #133
I was able to get it working with a custom `datahike-postgres.core/pg-path`. To also make it work with the configuration as a string, a diffenrent implementation of `to-jdbc-uri` is needed as well, as the currently used one does not support query strings in the uri (it silently ignores them):

https://github.com/pupeno/to-jdbc-uri

[2020-04-12 21:18] whilo commented on #133
Thanks for just getting it done in the mean time. I did not know about `to-jdbc-uri`.

[2020-04-13 10:36] whilo commented on #54
I agree and timbre is definitely an option. I used a facade in `kabel` before:

https://github.com/replikativ/kabel/blob/master/src/kabel/platform_log.cljc

which allows us to change the logging system later as long as we just need a simple interface. It is not externally changeable, just a flexibility for the kabel developers. This limitation should be easy to overcome, either by multimethods or

[2020-04-15 02:10] whilo commented on #119
@jjtolton It would be interesting for us to know how your experience with Redis is so far. We have a benchmark suite now and will also include the redis backend in there. Let me know if we can help to setup CI.

[2020-04-16 18:14] jjtolton commented on #119
Hi there!  Sorry for late reply.  There performance seems like it's O(n log
n).  It seems as if that the entire DB gets loaded into memory from redis
on each transaction and then is rewritten to redis on each transaction.  At
first the performance is ok but when I hit it with a huge amount of data
the lag starts to become noticeable over time.  I think that there would
probably have to be a rewrit

[2020-04-17 13:59] kordano commented on #129
As I understand it, you want only support the history for specific attributes. This should be possible.

[2020-04-17 14:38] den1k commented on #129
Yes, equivalent to datomic: https://docs.datomic.com/on-prem/schema.html#nohistory

[2020-04-17 14:48] kordano commented on #129
OK, I've added it in #136 and it will be available with the next release.

[2020-04-17 16:18] TimoKramer commented on #133
needs to be released together with datahike-postgres:
https://github.com/replikativ/datahike-postgres/pull/6

[2020-04-17 16:21] den1k commented on #129
Thanks so so much @kordano! So glad to have an open source datomic :)

[2020-04-18 00:40] whilo commented on #102
@julienfantin This should be addressed in https://github.com/replikativ/datahike-benchmark. We will run these tests in our CI/CD pipeline. Please feel free to open any further issues there.

[2020-04-18 00:40] #102 closed

[2020-04-18 00:41] whilo commented on #103
@nickik Would `core.async` work for you or have you found another solution?

[2020-04-20 21:01] samdesota opened #138 "Datahike in Class Path Breaks Datomic Client, Cannot Connect to Proxy Server"
Have a strange issue, I have a project where I'm syncing some datoms from Datomic into datahike persisted on level db, but when I include datahike in the project (using lein) it breaks the Datomic client, making it impossible to connect to Datomic.

Running `(datomic.client.api/connect client {:db-name name})` hangs forever. I don't even need to import the datahike namespace, if datahike is in my

[2020-04-20 21:14] mrapogee commented on #138
Some additional info, was running in a Calva Repl, there was an error I didn't see in another buffer:

[code]

Perhaps this is a version conflict issue with Transit.

[2020-04-20 21:18] mrapogee commented on #138
Okay, I was able to fix by adding a dependency on the latest version of transit to my project:

[code]

Not sure if there's anything actionable for this project, but perhaps updating dependencies. If not, sorry for the noise and feel free to close out the issue. Thanks!

[2020-04-20 21:34] #65 closed

[2020-04-20 21:41] whilo commented on #65
@nickik If you like to discuss the Java DSL further, please open a new issue. That would be appreciated :).

[2020-04-21 11:10] whilo commented on #131
This should fix the issue: https://github.com/replikativ/hitchhiker-tree/commit/ed1df495f0889dfc87cfa59f038272f3b9fa7807#diff-7fcef62d93fdd97c3e94c180c85420efR174. You can manually inject the hitchhiker-tree `0.1.7` and confirm that it works, if you like. This will be part of our pending `0.3.0` release. We might want to support more date types, e.g. the ones documented here that do not require ex

[2020-04-21 13:05] kordano commented on #138
For migrations you could also use [wanderung](https://github.com/lambdaforge/wanderung) which is targeted right at datomic cloud but we will add on-prem versions as well.

[2020-04-22 11:09] whilo commented on #131
I will close this issue, @den1k  feel free to open further issues.

[2020-04-22 11:09] #131 closed

[2020-04-22 11:14] whilo commented on #121
This is fixed in `datalog-parser 0.1.3` with https://github.com/lambdaforge/datalog-parser/commit/85a3ca1505a4cd250d143086da794328eff59339 now.

[2020-04-22 11:14] #121 closed

[2020-04-22 14:10] TimoKramer commented on #76
should i try my luck @kordano

[2020-04-22 16:54] TimoKramer commented on #76
While trying some solutions it seems to me that this is working as URIs are expected to be working. [RFC3986 3.3](https://tools.ietf.org/html/rfc3986#section-3.3) states following:

   defined for relative reference within the path name hierarchy.  They
   are intended for use at the beginning of a relative-path reference
   (Section 4.2) to indicate relative position within the hierarchical
   tr

[2020-04-22 22:04] rschmukler commented on #76
@TimoKramer thanks for taking the time to research this and provide the explaination. I just confirmed that the relative path in the `{:backend :file :path _}` did indeed work. Sorry for the hassle!

[2020-04-22 22:04] #76 closed

[2020-04-23 19:32] mrapogee commented on #103
Doesn't `listen!` provide this functionality already?

[2020-04-24 08:49] whilo commented on #103
Yes, it does. We just do not expose it officially and it could change once we have a connection to a remote transactor.

[2020-04-24 10:30] mrapogee opened #139 "Replicating Datahike, is it possible to transact datoms directly?"
Hello,

I'm experimenting with datahike replication via kafka. I have 2 nodes:

- A write datahike node, which transacts data, then sends + commits it's generated datoms to a  kafka compact topic before replying to the client with ok.

- A read node, which consumes the tx kafka topic

On the read node, I'd like to skip the `dh/transact` function if possible for consistency + perf and directly comm

[2020-04-26 02:12] whilo commented on #138
Thank you for reporting. We will try to bump the deps, but there is still an open issue here: https://github.com/cognitect/transit-java/issues/31

[2020-04-26 04:44] whilo commented on #139
Yes, that is not hard to do, but we do not provide an interface yet for it. We can provide it if it turns out to be the right thing to do. A disadvantage of this approach is that you still have to recreate the index on all nodes. An alternative would be to use a konserve backend on a distributed key-value system such as CouchDB, Redis or DynamoDB and then just send the current database value with

[2020-04-26 04:54] whilo commented on #139
Or we could send all new tree nodes over Kafka and you store them locally if you do not want to use a separated distributed store.

[2020-04-26 08:25] whilo commented on #118
It is true that Datomic does not allow pull or transactor syntax inside of Datalog syntax, as @tonsky said.

https://docs.datomic.com/on-prem/query.html#query

But I think your idea can be handy to avoid introducing additional Datalog clauses for symbols you do not use. At least a few times I was annoyed by the boilerplate needed in this case as well. Since the equivalent Datomic Datalog expressio

[2020-04-26 14:05] mrapogee commented on #139
That's a good point, would eliminate the need for setting up replication consensus if I wanted cluster-wide acid semantics. Curious what the latency hit would be vs. embedded level db, but eventually that could be optimized with an in-memory cache of heaviest hit nodes + updating the local cache via kafka.

Will take a look at the konserve backends.

[2020-04-28 20:38] whilo opened #140 "Support efficient predicates on ordered values"
Datahike should treat Datalog order predicates such as `<`, `<=`, `>` and `>=` specially by efficiently doing a range scan starting with a jump to the first element satisfying the predicate.

[2020-04-29 12:19] TimoKramer commented on #133
BTW https://gist.github.com/mrw34/c97bb03ea1054afb551886ffc8b63c3b is quite useful to test it locally

[2020-04-30 13:26] kordano opened #143 "index selection does not work"

[2020-05-04 15:01] kordano commented on #143
closed with #144

[2020-05-04 15:01] #143 closed

[2020-05-06 08:22] vlaaad opened #146 "Datahike does not support non-date attributes on tx entities"
### Context
It is useful to annotate transaction entities with information about transactions themselves (see [here](https://docs.datomic.com/on-prem/best-practices.html#add-facts-about-transaction-entity) for more info).

### Problem
Adding non-date attributes to transaction entities breaks filtered databases such as `d/as-of`.

### Repro
[code]

### Expected output

I would expect to receive a d

[2020-05-06 08:59] kordano commented on #146
Thanks, for the extensive bug report @vlaaad . I'll get on it.

[2020-05-06 09:13] vlaaad opened #147 "Datahike's as-of behavior does not match that of Datomic for number inputs"
### Problem
[Differences with Datomic](https://github.com/replikativ/datahike/blob/master/doc/datomic_differences.md) article states that `as-of` has no differences from Datomic, but the behavior is actually different.

Datomic [defines a time-point](https://docs.datomic.com/cloud/time/filters.html#as-of) for `as-of` as one of:

Datahike defines time-point as:

The difference in behavior is in how

[2020-05-06 09:35] vlaaad opened #148 "as-of is unreliable for dates since transactions might have the same exact dates"
### Context

Since Datahike [does not support tx ids as time points](https://github.com/replikativ/datahike/issues/147) for `as-of`, one needs to use dates to get db at a particular transaction time point.

### Problem

Different transactions might have the same exact insts, which makes the earlier transaction "shadow" the latter when using `as-of` with latter transaction's inst.

### Repro
[code]

[2020-05-06 09:59] vlaaad opened #149 "Query does not support returning maps"
### Problem
Datomic query engine can [return maps](https://docs.datomic.com/on-prem/query.html#return-maps) instead of tuples by specifying `:keys`, `:strs` or `:syms` clauses. [Datomic Differences](https://github.com/replikativ/datahike/blob/master/doc/datomic_differences.md) article says that Datahike has no differences with `q`, but it does not support return maps.

### Repro

[code]

### Expec

[2020-05-06 13:51] kordano commented on #149
#141 checks and fixes the differences between Datahike and Datomic where possible. But is still in progress right now.

[2020-05-06 15:25] vlaaad opened #150 "Can't pull istant by specifying attribute"
### Problem

Datahike can't pull instant attribute when it is specified in a pull pattern.

### Repro

[code]
Note: this repro uses `:db/txInstant` to keep example simple, the problem persists with user-defined attributes too.

### Expected output
I would expect `pull` to return map with a pulled inst, like that:
[code]

### Actual result
An exception is thrown:
[code]

### Workaround
Strangely, u

[2020-05-07 06:59] vlaaad opened #151 "transact does not support lazy sequences and ints in long attributes"
### Problem

[Datomic Differences](https://github.com/replikativ/datahike/blob/master/doc/datomic_differences.md#transact) states that the difference in `transact` is only in its return value, while Datahike itself rejects some inputs valid for Datomic:
- seqs/lists of txs (which is a common use case for transacting collections of values with some processing using `map`)
- ints for `:db.type/long`

[2020-05-07 15:41] #133 closed

[2020-05-08 20:59] #82 closed

[2020-05-12 07:32] whilo commented on #139
Hey, did you make progress? It would be very interesting for us to have some Kafka experimentation documented as we plan to run Kafka internally as well soon.

[2020-05-16 01:10] whilo opened #153 "Support safe guarded queries without external calls"
Currently the query engine does function name resolution and Java reflection to find methods. This allows script injection in cases where we want to openly expose the query endpoint.

[2020-05-17 16:13] Heliosmaster opened #155 "Support for uniqueness using db.type/instant"
In my schema i have something like
[code]
When I try to add more dates which already exist, I get:

[code]

I know it's not a problem in datahike per se, but in a lib you build upon, but it still means that dates do not fully work when using datahike.

[2020-05-17 17:56] whilo commented on #155
This is fixed in ´[io.replikativ/hitchhiker-tree "0.1.7"]´ and already part of our pending release. See also #131. Sorry for the inconvenience.

[2020-05-18 07:46] Heliosmaster commented on #155
Ah, great to know. May i suggest adding the upcoming stuff to an 'unreleased' entry in the changelog? :)

[2020-05-18 12:56] TimoKramer commented on #149
datomics behaviour:
[code]

[2020-05-18 23:52] whilo commented on #155
Yes, we also need monthly bugfix releases. This is our second major release as a team and pulling everything together has proven to take too long. Please excuse your time wasted on this. The release should be out this week @kordano.

[2020-05-21 15:40] grischoun opened #156 "Datahike server does not start. Most likely an issue with Konserve."
On the 'admin-endpoints' branch at startup time Datahike server throws the following error:

[code]

I suspect an issue related to Konserve as when I install Konserve locally and reference its source code directly from Datahike server (instead of importing as a dependency), it works.

The current dependencies are:
[code]

[2020-05-25 08:43] kordano opened #161 "create general datahike SQL jdbc backend"
Instead of using separate backends for sql backends Datahike should have one sql backend which maps directly to the jdbc drivers.

- [x] extend and move datahike-pg to datahike-jdbc
- [x] extend and move konserve-pg to konserve-jdbc
- [ ] describe datahike-jdbc as the successor in the docs

[2020-05-25 12:26] kordano opened #162 "release store uses wrong configuration"
When using LevelDB backend, releasing the store does not do anything. When trying to connect to it again, the store is still locked.

[2020-05-25 12:47] kordano opened #163 "cleanup clojure docs in api namespace"

[2020-05-26 10:31] theronic opened #164 "PostgreSQL backend throws error on configuring with map."
Please consider letting me pass in configuration as arguments via `(d/create-database config)` instead of relying on Environ, which is [exploding for me](https://github.com/weavejester/environ/issues/91) at require time, forcing me to kill the REPL to retry. Also hurts testability.

[2020-05-26 15:07] #129 closed

[2020-05-27 04:17] FongHou opened #165 "0.3.0 clojuars built with java 13, can't load in java 8 jvm."
Got error "datahike/java/IEntity has been compiled by a more recent version of the Java Runtime (class file version 57.0), this version of the Java Runtime only recognizes class file versions up to 52.0" .

[2020-05-27 05:13] FongHou opened #166 "ClassNotFoundException clojure.core.async.Mutex"
datahike depends on a very old version of core.async in its dependent tree, which could cause ClassNotFoundException when other libs on classpath depends on newer version of core.async.

I couldn't figure out where it comes from the dependent tree. Only being able to repreduce the problem by adding datahike in project.clj.

[2020-05-27 07:05] TimoKramer commented on #164
@theronic Does this still need assistance or did you get enough help by weavejester?

[2020-05-27 07:21] theronic commented on #164
Can close. The issue with environ was that `.lein-env` had some empty lines in it (it's not supposed to be hand-edited), which caused environ to crash at require-time, and can't be re-imported until restarting REPL, which blocked me from using datahike for a little while. I would still lean toward explicit configuration with defaults in-code.

[2020-05-27 07:29] jrwdunham commented on #165
I can second having run into this as well.

[2020-05-27 09:31] TimoKramer opened #167 "Automated Release Process"
Since we want to release Datahike more often there should be an automated release process. Which includes:

- [x] unittesting clj
- [x] integrationtesting with all the official backends in-memory, file, PG/JDBC
- [x] integrationtesting with all the official backends LevelDB
- [x] release to Clojars
- [x] release to maven
- [x] central and testable CI config
- [x] documentation
- [ ] testing cljs
-

[2020-05-27 11:41] kordano commented on #165
Thanks @FongHou and @jrwdunham. What Java version would you suggest?

[2020-05-27 11:52] kordano commented on #165
I pushed a build with `openjdk version "1.8.0_252"` to `io.replikativ/datahike "0.3.1-SNAPSHOT"`. Let me know if this version is working for you.

[2020-05-27 12:18] kordano commented on #166
Thanks, this is a similar bug to #156

[2020-05-27 12:19] kordano opened #168 "add connector to transactor"

[2020-05-27 13:00] theronic opened #169 "Cost of d/connect and connection pooling"
I'm seeing a ~100x performance speedup when calling `(d/connect ...)` once at startup vs. once per request, even without calling `d/release`. I expected a call to `d/connect` to be cheap and pool connections, but I'm glad I benchmarked. Now I'm just worried whether `conn` will survive for extended periods of time? Just putting this out there so people know not to call `d/connect` on every request.

[2020-05-27 14:11] kordano commented on #169
Thanks for the info @theronic. I'm working on a remote transactor now with a new connector in Datahike itself. This will include pool connections.

[2020-05-27 16:26] theronic commented on #164
Just got bit by this again when I tried to deploy my app using Dokku. I don't have a `.lein-env` in source and I don't use deps.edn and not Leiningen, so environ crashes my app at runtime even though all my environment variables are set:

[code]

Solution is to add an empty `.lein-env` file to repo.

[2020-05-27 17:40] FongHou commented on #165
Yes, that version resolved the issue.

Thanks!

[2020-05-27 18:00] FongHou commented on #166
I did some digging. There are two places in the whole datahike dependent tree where core.async is a dependency.

konserve uses [org.clojure/core.async "0.4.490"] release on 2018.11.19
superv.async uses [org.clojure/core.async "0.3.442"] release on 2017.03.14

I'm currently doing this to prevent ClassNotFoundException. Not sure whether it'll break anything for datahike or not.

[io.replikativ/konse

[2020-05-27 18:49] TimoKramer commented on #164
Could you please elaborate a bit. You are writing that you "don't use deps.edn and not Leiningen". What do you use then? Which environment-variables did you set? It would be good if you provided content for the variables as far as possible so that we can reconstruct  the issue.
Thanks

[2020-05-27 18:51] theronic commented on #164
@TimoKramer edit: sorry typo. Meant I *do* use deps.edn and Clojure CLI tools.

[2020-05-28 18:43] whilo commented on #113
This is fixed with the current release.

[2020-05-28 18:43] #113 closed

[2020-05-28 18:46] whilo commented on #169
@theronic For now you should be aware of https://github.com/replikativ/datahike/issues/123 and not create multiple connections to the same database that you transact upon. This is not hard to fix for the current in-memory version, but @kordano is integrating the Datahike server with global connection management at the moment and therefore it is not done yet. Sorry for the inconvinience, this bug s

[2020-05-29 11:57] TimoKramer commented on #164
I am closing this issue because I don't know how to reconstruct the error and if environ would not support deps.edn that would mean this issue needed to be there and we had to reevaluate the dependency.

[2020-05-30 00:48] whilo commented on #46
We now have a proper Java API, thanks to @grischoun! Feel free to open any follow up issues.

[2020-05-30 00:48] #46 closed

[2020-05-30 00:54] whilo commented on #74
This is fixed now.

[2020-05-30 00:54] #74 closed

[2020-05-30 00:56] whilo commented on #161
A version of this by @alekcz is available here: https://github.com/alekcz/konserve-jdbc

[2020-05-30 01:08] whilo commented on #167
For external backends we should include compliance tests. We already have a version of this in konserve, but it is not done yet. Basically all backends should have to run through the same comprehensive test suite.

[2020-05-30 03:40] canadaduane commented on #46
Exciting! Can you point me to the Java API?

[2020-05-30 09:32] grischoun commented on #46
@canadaduane here is a blog post about the api usage: https://lambdaforge.io/2020/05/25/java-api.html

And here is the implementation:
https://github.com/replikativ/datahike/blob/master/java/src/datahike/java/Datahike.java

Let me know if you have questions or need help.

[2020-05-30 10:14] theronic opened #170 "Speeding up 8-10s import time of `(require '[datahike.api])`"
It takes 8-10s seconds for a call to `(require '[datahike.api])` to complete on my dev machine, which feels really long. All my other dependencies, including httpkit and my web application routes takes <1s to load in total.

What is datahike doing that takes so long? How can I speed it up?

[2020-05-30 15:01] TimoKramer opened #171 "config defaults to postgres unlike documented"
When using `(create-database)` without config I am getting this error:
[code]
I would expect that `mem` is used and a database in memory is created.
In the repl the error looks like this but is the same:
[code]

[2020-05-30 15:38] TimoKramer commented on #164
So it seems that there is an issue with configuring PostgreSQL backend with the new way of configuring. That is what I  experienced working on https://github.com/replikativ/datahike/issues/167.
renaming the issue.

[2020-05-30 15:41] TimoKramer commented on #164
it works with configuration passed explicitly. it only fails when using properties or env-vars.

[2020-05-30 17:45] whilo commented on #170
We are aware of the issue, but are focusing first to improve write throughput. I think it is either loading the `konserve` dependency or the `hitchhiker-tree`. Are you aware of a good approach to measure the namespace dependency loading in Clojure? We can do so manually of course, but it would be helpful to have a better tool, I think.

[2020-05-31 08:32] theronic commented on #164
@TimoKramer that error looks like a missing SQL driver, unrelated to the method of configuration.

Btw. `.lein-env` is supposed to be a nested EDN map, not newline-separated KEY=VALUE assignments.

[2020-06-01 09:57] TimoKramer opened #172 "config-reload in api-namespace is a leftover"
Since the config was redone, config-reload is not there anymore and needs to be removed from api.cljc as well.

[2020-06-01 09:59] TimoKramer commented on #172
possible duplicate of #163 but this is a bug and should be fixed asap

[2020-06-01 11:47] geodrome opened #173 "Implement datahike.connector/transact! for clojure.lang.PersistentHashMap"
I ran into an issue going through day-of-datomic-cloud examples, but with datahike.

Here is a simplified example:

`(d/transact conn (hash-map :tx-data [{:user/email "john@example.com"}]))` fails with ` Execution error (NullPointerException) at datahike.connector/transact (connector.cljc:71).
null`

This seems to be because `datahike.connector/transact!` is not implemented for `clojure.lang.Persi

[2020-06-01 12:25] geodrome opened #174 "d/q returns a clojure.lang.PersistentHashSet vs clojure.lang.PersistentVector in datomic cloud"
Not sure to what extent datahike aims to maintain datomic compatibility, but here is another little issue I ran into:

`d/q` in datahike returns a `clojure.lang.PersistentHashSet` while in datomic it returns `clojure.lang.PersistentVector`. Of course in both cases the values returned are unique.

The practical difference is this: if you do some thing like this in datomic cloud:

[code]

;; result

[2020-06-01 17:37] TimoKramer commented on #172
thanks to Ben Sless in clojurians-slack:
`another quick win "bug" in the doc is any reference to :dbname in the config map when it should in fact be :path . A more subtle one is that it must start with a /`

[2020-06-03 14:02] TimoKramer commented on #161
current jdbc spec https://download.oracle.com/otn-pub/jcp/jdbc-4_3-mrel3-eval-spec/jdbc4.3-fr-spec.pdf?AuthParam=1591192807_8aebdb4779b50c0bbed0cf7f725d8964

[2020-06-03 14:05] TimoKramer commented on #161
![grafik](https://user-images.githubusercontent.com/4785848/83646172-970a8700-a5b3-11ea-9f6f-0fb71b1f4d1a.png)

[2020-06-03 22:20] dgb23 opened #175 "Idiomatic way to express 'sum type' (db/valueType) spec?"
I'm trying to programmatically convert [json-schemas](https://json-schema.org/) into datahike schemas.

Please note that I don't have a particular model/schema in mind for my use-case. I just want to generate a sensible, predictable datahike schema from an arbitrary json-schema.

An issue I have is that it isn't obvious to me how to convert sum-type-like definitions like so:

`{"type": ["integer",

[2020-06-04 07:53] kordano commented on #162
Maybe create store-specific existence check as mulitmethod in `store`.

[2020-06-04 08:27] markusalbertgraf commented on #175
Just my two cent:
I do see that you are trying to cope with something given to you here that you might not have any control over.
But is this type not complected?
In real software I would try to implement this as two different db attributes and do the union in the query, not in the type.

[2020-06-04 11:45] theronic opened #176 ""Update not supported for these schema attributes" - which ones?"
I have a growing vector of schema txes. Sometimes I'll add a new attribute. When I try to transact this, Datahike throws:
[code]
Very hard to debug if I don't know which attributes are a problem, so I can at least tx them separately. Ideally, would like an "ensure-attrs" that throws for an incompatible migration.

[2020-06-04 13:08] dgb23 commented on #175
@markusalbertgraf thank you, this seems to be the right mode of thinking to approach this. Modelling with this type of database seems to be a matter of nuclear fission so to speak. It is very similar to a graph-db (like Neo4j for example).

Your use of the word 'complected' in this context made me realize that my mental block comes from thinking of types and conglomerates as you would in a statica

[2020-06-04 13:35] theronic opened #178 "datahike.core does not validate transactions against schema"
datahike.core does not validate schema when transacting because it seems to follow DataScript semantics, e.g.:

[code]

This makes it tricky to test. So I see I can use the datahike.connector namespace to validate transactions against schema, but now I have to first define an in-memory configuration, create a database, then connect to it:

[code]

It would be convenient to use the datahike.core na

[2020-06-04 13:55] kordano commented on #178
You're right. We wanted to have this namespace for DataScript compatibility in the beginning. For one of the next releases we wanted to restructure these functions. Alternatively you may directly call `empty-db`from the `db` namespace with the proper config:
[code]

[2020-06-04 22:16] whilo commented on #175
@dgb23 Interesting work, I think there are probably use cases for sum types, but I would have to think more of the trade-offs first.

As a sidenote: We are also currently planning to map RDF to Datahike's edn, maybe through https://github.com/ontodev/edn-ld. It would also be beneficial to have a JSON interface to datahike-server to have reach for our REST interface. @kordano is working on that.

[2020-06-05 14:07] kordano opened #180 "create-database overrides already created in-mem databases"

[2020-06-05 14:07] kordano commented on #180
This action should throw a `database exists` exception.

[2020-06-05 15:30] kordano commented on #176
So, your are updating multiple schema-attributes in one transaction?

[2020-06-05 15:33] kordano commented on #176
If you are running this in a repl, what does `*e` print? The `:invalid-updates` in the `ExceptionInfo` data might give some information.

[2020-06-07 08:01] TimoKramer commented on #171
`lein kaocha integration --focus datahike.integration-test.config-record-test` seems to work with the latest development state when using the integration test I wrote.

[2020-06-07 08:48] TimoKramer commented on #164
added an integration-test to use environment variables. Seems to work so can be closed.
https://github.com/replikativ/datahike/pull/177

[2020-06-07 08:51] TimoKramer commented on #171
is part of integration testing here: https://github.com/replikativ/datahike/pull/177
seems to work fine.

[2020-06-07 08:52] #171 closed

[2020-06-08 15:14] kordano opened #181 "remove old benchmarks"
There are still old DataScript benchmarking files moving around. Since we moved that to a separate [project](https://github.com/replikativ/datahike-benchmark), the remaining old files can be removed

[2020-06-11 05:49] crofty commented on #165
Just a note to say I also ran into this (using Java 11), updating the dep to `io.replikativ/datahike "0.3.1-SNAPSHOT"` has fixed it.

[2020-06-11 09:28] theronic opened #184 "Which attribute caused "Incomplete schema transaction attributes, expected..."?"
When I try to transact a large number of attributes, sometimes I'll make a mistake and forget to specify cardinality. Datahike throws:

[code]

Then I have to trawl through all the attributes to find the missing piece. Would be nice if the error gave back the provided map for that attribute.

[2020-06-14 12:37] theronic opened #185 "`d/as-of` is broken"
Let's transact a product:
[code]

Let's check if it's there:

[code]

Yup, it's there. Now we retract it:
[code]

Retracted. Is it gone?
[code]

Yes, but watch what happens when try the same thing using as-of *now*:

[code]

The datom is back. So just to be sure, let's query in the future (the year 2030):
[code]

The same things happens using `d/q` or `d/datoms`.

[2020-06-15 11:09] theronic opened #186 "Support for return maps [:find ...:keys ...]"
Anything on the horizon for return maps? As per [Datomic docs](https://docs.datomic.com/cloud/query/query-data-reference.html#return-maps):

[code]

Would love to have this in Datahike.

[2020-06-15 11:13] kordano commented on #186
This will be added with the next patch release `0.3.1` tomorrow. Thanks to @TimoKramer, it was added here #160.

[2020-06-15 11:15] kordano commented on #185
Thanks for the report. I'll add a test for that and add a fix for it to the roadmap for `0.3.2`.

[2020-06-15 16:05] TimoKramer commented on #167
I personally find it neat to have a CI building and testing my code on a git push. that is already working.

Following that principle it would be convenient to tag a commit and push that tag to github and that would create an artifact and release it on clojars. There was the wish to have SNAPSHOT-releases be released on commits to development-branch and have real releases be built and released on

[2020-06-15 18:56] TimoKramer commented on #167
storing secrets in circleci is necessary to deploy to clojars: https://circleci.com/docs/2.0/security

[2020-06-16 16:03] TimoKramer commented on #186
closing because of https://github.com/replikativ/datahike/issues/149

[2020-06-16 16:03] #186 closed

[2020-06-17 12:59] TimoKramer commented on #167
I created a first draft to try out a semi automated release model here: https://github.com/TimoKramer/datahike/commit/623808ec8ab517a4008b29af8d7681e13a677ff7
please ask for access to the repo if you want to try it. you can release a '.*-SNAPSHOT'-named artifact to clojars when committing on development and you can release a not '.*-SNAPSHOT'-named release when committing on master.

[2020-06-18 09:51] #149 closed

[2020-06-18 11:45] #180 closed

[2020-06-18 11:48] #181 closed

[2020-06-18 11:48] #172 closed

[2020-06-18 11:49] kordano commented on #173
Fixed with #179

[2020-06-18 11:49] #173 closed

[2020-06-19 12:19] kordano opened #188 "adjust to datomic async behaviour"
Create async namespace to reproduce https://docs.datomic.com/cloud/client/client-api.html#async

[2020-06-19 14:34] TimoKramer commented on #167
tagging should be automatic. need to find a way to do that without uploading a write-key to circleci. local git-hook might be possible.

[2020-06-19 15:14] kordano opened #189 "historical databases are not sorted correctly"

[2020-06-22 11:23] theronic commented on #176
Noticed that when I attempt to add `:db/index true` to an attribute it fails in the map form, but succeeds when using the vector form, e.g. `[[:db/add 123 :db/index true]]`. It fails when trying to update this:

[code]

to this:
[code]

But the update succeeds when transacting `(d/transact d/conn [[:db/add [:db/ident :catalog/store] :db/index true]])`.

Should I open a separate issue?

[2020-06-22 14:28] kordano opened #190 "hashes are not correct when re-connecting to a database"

[2020-06-24 08:23] #162 closed

[2020-06-24 08:34] kordano commented on #165
Fixed with release `0.3.1`.

[2020-06-24 08:34] #165 closed

[2020-06-24 08:35] kordano commented on #178
Fixed with `0.3.1`.

[2020-06-24 08:35] #178 closed

[2020-06-24 08:36] kordano commented on #166
Maybe we could add a task to the underlying libraries. @whilo

[2020-06-26 15:54] theronic commented on #104
Excited for tuple support!

[2020-06-26 20:42] jjtolton commented on #104
Man I'll tell you what I've entirely fallen off the horse on this one, my
bad.  I've tried and failed several times over the months to add tuples to
datascript but the code is quite intricate and I haven't had enough
dedicated time to do it.  The team has told me that it might be easier in
Datahike so perhaps I should start here first -- but if anyone has more
dedicated time and would like to pick

[2020-06-27 11:54] theronic commented on #104
@jjtolton can you elaborate on some of the challenges / dead ends? I imagine one of the hardest parts is query optimization for unifying against tuples.

[2020-06-27 16:08] jjtolton commented on #104
Here's a cross reference to where I'm working on it for datascript:
https://github.com/tonsky/datascript/issues/323
The challenge comes from the fact that I don't have an adequate mental
model for how datascript works under the hood and I haven't had enough time
to study it.  The code is very intricate, and the solution requires
finesse.  It *seems* like if you have a proper mental model for how t

[2020-06-30 14:32] kordano opened #196 "adjust API to Datomic's client API"
refer to [API docs](https://docs.datomic.com/client-api/datomic.client.api.html)
- [x] adapt datahike api namespace
  - [x] delete transact! from api ns
  - [x] adapt datoms
  - [x] adapt seek-datoms
  - [x] adapt pull
  - [x] adapt transact
  - [x] adapt q
- [x] test api in Datahike
- [x] check if return values are comparable (#174)
- [x] adjust also to lazy seqs (#78, #151)
  - [x] implement qse

[2020-07-01 15:53] w9 opened #197 "Allow for "entity specs""
I would love to see [entity specs](https://docs.datomic.com/on-prem/schema.html#entity-specs), especially [required attributes](https://docs.datomic.com/on-prem/schema.html#required-attributes) implemented in datahike.

[2020-07-01 18:32] theronic commented on #103
DataScript already has d/listen! and I use it frequently. This is a +1 for needing d/listen! in Datahike, please.

[2020-07-02 11:58] kordano opened #198 "Define formatting guidelines across all libraries"

[2020-07-10 13:35] grischoun opened #199 "Wrongly using 'assoc-in' instead of 'update-in' (in 'remove-schema')"
In function `remove-schema`of `db.cljc`, `assoc-in` is wrongly used in place of `update-in`.

[2020-07-13 13:58] #199 closed

[2020-07-13 13:59] kordano commented on #199
Fixed with #200

[2020-07-13 13:59] kordano opened #202 "Historical database records are not correctiy printed."
Historical database should use the same printer as the `DB` record.

[2020-07-15 18:13] den1k opened #205 "Datahike Console"
I'm currently throwing together a makeshift console for a project ([GRID](https://theshopgrid.com/)) and realized that I'll need this time and time again on every major project using Datahike.

This issue is meant to start the conversation around a larger effort of creating a console-type GUI for Datahike.

Datomic has a [console](https://docs.datomic.com/on-prem/console.html), Postgres has [pgAdm

[2020-07-15 18:30] kordano commented on #205
Happy to hear that. I started working last month on a simple JavaFx prototype that interacts with datahike based on some examples by @vlaaad in his `cljfx` project. On the other hand we started with a remote server with a REST interface and were sketching a frontend in cljs with fulcro for that. Let's have maybe a call on that to discuss further.

[2020-07-15 20:23] den1k commented on #205
Sounds good. How about Friday or Monday? I'm in NYC. If you're in Heidelberg you're 6h ahead. 5pm your time ok?

[2020-07-15 21:47] kordano commented on #205
Monday at 5pm looks good. Just ping me on slack.

[2020-07-16 18:10] samdesota opened #206 "ClojureScript Support"
Hey Guys,

I'm experimenting with using Datahke as a basis to build an extensible database system. As part of this, support for nodejs is important, so I've started to iterate on cljs support for datahike.

https://github.com/replikativ/datahike/compare/development...nanodevstudio:development

Wanted to see if there's any big barriers to this that I might run into or any thoughts you have around t

[2020-07-17 05:09] whilo commented on #206
Hey Samuel,

that is super cool, I think we should have a chat together with @groundedSAGE .

We definitely also want to have an extensible database system spanning devices from frontend to large scale backends, this ambition separates us from the other work happening in this design space at the moment. If I read your PR correctly you have mostly tried to port Datahike namespaces to compile again.

[2020-07-17 15:43] samdesota commented on #206
Yesterday I succeeded in getting the datahike namespaces to at least compile, your comment gives me a good roadmap, thanks.

Also disabled my autoformatter and fixed the whitespace issues, should be clearer now.

Would love to chat with you guys about datahike. One goal of mine is to have a database system which can be expanded with custom indexes for search, geo etc. while keeping everything with

[2020-07-20 15:02] kordano commented on #206
Yeah, I'm trying to structure the requirements for the admin UI. Let's have a chat once I've done that.

[2020-07-22 08:42] kordano opened #207 "using pull? in :find query results in a lazy seq instead of a set"
Observed behaviour:
[code]
Expected result:
[code]

[2020-07-24 08:55] #54 closed

[2020-07-27 09:18] kordano opened #211 "add support for attribute references"
Datahike stores its Datoms with attribute as a keyword at the moment. With the addition of attribute references instead we can improve overall query performance and support are wider set of Datomic queries.

[2020-07-27 17:18] apavlo opened #212 "Logo?"
I added Datahike to my encyclopedia of databases:

https://dbdb.io/db/datahike

Do you have an SVG logo that I can use for it? Thanks.

-- Andy

[2020-07-30 14:43] TimoKramer commented on #161
should we close this issue? It might take some time until datahike-jdbc is ready to replace datahike-postgres

[2020-07-30 16:14] alekcz commented on #161
@TimoKramer I can get it there over the weekend. Do you have an idea of what's still missing for it to replace datahike-postgres?

[2020-07-30 16:51] TimoKramer commented on #161
Hi @alekcz and thanks! I think the main problem is that datahike-jdbc brings the konserve 0.6.0 with it and when you are using datahike it loads konserve 0.5.1 and then datahike-jdbc does not work. so this is basically a question of when we can use datahike with konserve 0.6.0 I guess. Or making konserve-jdbc work with 0.5.1?!

[2020-07-30 17:16] whilo commented on #161
It should actually already work, because we have not changed the konserve protocols to the outside, so it might be just a dependency issue (?).

[2020-07-30 18:23] TimoKramer commented on #161
I think it might work but the question is if you want datahike to use the konserve snapshot?!

[2020-07-31 22:12] whilo commented on #161
No, you cannot use SNAPSHOT dependencies in releases on clojars in fact. But we can do a SNAPSHOT release of Datahike itself with the SNAPSHOT dependency and then release them together once everything fits. I think this is what @kordano asked for.

[2020-08-04 10:05] kordano commented on #212
Hi @apavlo, thanks for adding us to your encyclopedia. We are still in the process of developing a proper logo for Datahike. Once it is finished, we will send you the SVG.

[2020-08-04 10:07] kordano opened #213 "add ADR"
Use [architecture decision records](https://github.com/joelparkerhenderson/architecture_decision_record) for decision-making on our architectural designs.

[2020-08-07 17:22] vgautamm opened #215 "Added qseq support"
Datomis's qseq is primarily useful when you know in advance that you do not need/want a realized collection. i.e. you are only going to make a single pass (or partial pass) over the result data.

Item transformations such as pull are deferred until the seq is consumed. For queries with pull(s), this results in:​

Reduced memory use and the ability to execute larger queries.
Lower latency before th

[2020-08-07 21:24] whilo commented on #215
Thanks for opening this issue! Yes we plan to support lazy queries in our redesign of our query engine after our next release (which is pending).

[2020-08-08 14:06] TimoKramer commented on #198
requirements:
- CLI-tool
- editor plugin (perform aligned indentation on saving) but editor agnostic
- rowbased formatting
- per project config
- remove trailing whitespace
- collapse contiguous blanks
- extraneous whitespace highlighting
- justify args (https://github.com/kkinnear/zprint/blob/master/doc/reference.md#a-note-on-justifying-two-up-printing)??
- line length 120??
- ...

What options a

[2020-08-08 18:54] TimoKramer commented on #198
zprint uses https://github.com/bbatsov/clojure-style-guide when using `{:style :community}`

[2020-08-08 19:06] TimoKramer commented on #198
couldn't make the `defn` and `defmethod` format with `:gt2-force-nl`...don't know why

[2020-08-10 18:54] whilo opened #216 "Add garbage collector"
The hitchhiker-tree has recently gained garbage collection support, but this still needs to be added to Datahike.

https://github.com/replikativ/hitchhiker-tree/pull/16

Adding it requires to do a `mark` phase on all the indices of the database and then add all DB metadata keys before running the konserve `sweep!` phase.

[2020-08-13 14:51] TimoKramer commented on #198
problems is that we need to skip formatting for `q` and `transact` and possibly others because satisfyingly formatting datalog is not possible, seems like

[2020-08-13 14:57] TimoKramer commented on #198
cljfmt seems to be more cautious when it comes to formatting datalog. since I did not find a way to format acceptably with zprint and cljfmt just works it seems that cljfmt is our solution.

[2020-08-13 17:05] whilo commented on #198
Thanks for working through this! Does the let-binding alignment work well everywhere?

[2020-08-13 19:33] TimoKramer commented on #198
cljfmt uses https://github.com/bbatsov/clojure-style-guide for formatting. so I think it aligns with what you expect @whilo . But please take a look at https://github.com/TimoKramer/datahike/commit/628e52804256e1a0da28d4bfc3a381a79cbfdb9b for a complete formatting run on the whole datahike source.

[2020-08-13 19:35] TimoKramer commented on #198
I got an answer by the zprint creator on how to avoid reformatting functions with zprint. so zprint might be cool as well. but since cljfmt works good so far, we'll stick with it? what do you think @whilo @kordano ?

[2020-08-14 13:06] TimoKramer opened #217 "configuring database name"
for running datahike with environment variables there is no way to configure the name of the database(s). There needs to be an option to configure database name like `DATAHIKE_NAME=labrador`

[2020-08-16 16:05] TimoKramer commented on #161
waiting for https://github.com/replikativ/konserve/issues/31

[2020-08-16 18:53] whilo commented on #161
@TimoKramer You mean you wait for the konserve version, not the garbage collector, right?

[2020-08-16 21:50] TimoKramer commented on #161
@whilo exactly. I thought this is more or less the same.

[2020-08-17 12:42] TimoKramer commented on #198
https://stuartsierra.com/2016/clojure-how-to-ns.html

[2020-08-19 13:00] #213 closed

[2020-08-21 11:25] kordano opened #218 "renaming the sandbox namespace to user causes a Syntax error"
Just renaming the file `./dev/sandbox.clj` to `./dev/user.clj` and renaming the namespace from `sandbox` to `user` cause the following error with stacktrace:
[code]

[2020-08-21 11:26] kordano opened #219 "upserted entites in the history use the wrong tx ID"

[2020-08-22 11:21] maxweber opened #221 "long instead of int for entity ids"
First of all thanks a lot for starting Datahike and working towards an open-source Datomic-like database :+1:

I've done a few experiments with Datahike and tried to import some real world data from Datomic. I noticed that Datahike is still using `int` as type for the entity id in `datahike.datom/Datom`. Would it make sense to switch to `long`?

Best regards,

Max

[2020-08-27 12:38] TimoKramer commented on #167
The env vars LEIN_USERNAME and LEIN_PASSWORD shoud be set inside the clojars-deploy context. and removed from the projects.
The env var CIRCLE_TOKEN should be set inside the orb-deploy context.

[2020-08-31 20:30] #112 closed

[2020-08-31 22:02] #217 closed

[2020-09-01 07:34] TimoKramer commented on #167
Closing for now and coming back when CLJS-testing is in work

[2020-09-01 07:34] #167 closed

[2020-09-02 13:36] #219 closed

[2020-09-03 07:22] TimoKramer opened #227 "Documentation states path instead of dbname"
David Pham pointed at a flaw in the documentation that postgresql is using `dbname` not `path`. Configuration should be adapted to only state a file backend and point to the backends for backend-specific configuration since now the backends are themselves in charge of their own configuration.

[2020-09-11 12:54] #198 closed

[2020-09-16 10:10] #227 closed

[2020-09-18 09:45] #202 closed

[2020-09-21 08:51] #197 closed

[2020-09-21 09:12] kordano commented on #148
Fixed with #202

[2020-09-21 09:12] #148 closed

[2020-09-30 12:25] #164 closed

[2020-09-30 12:27] #60 closed

[2020-10-01 17:01] TimoKramer commented on #161
After the PR https://github.com/replikativ/datahike-jdbc/pull/12 is merged. I will change the documentation of using SQL backends in the docs and mark datahike-postgres as superseded.

[2020-10-09 08:02] #151 closed

[2020-10-19 04:33] xz-stjude opened #241 "`:db/retract` without value fails"
Datomic (on-prem)'s `:db/retract` has the following [very convenient behavior](https://docs.datomic.com/on-prem/transactions.html#retracting-data):

This is currently not supported in Datahike. Reproducible example:

[code]

[2020-10-19 10:48] TimoKramer commented on #163
this is part of #196 and therefore can be closed

[2020-10-19 10:48] #163 closed

[2020-10-19 10:53] TimoKramer commented on #88
currently there is a fix to avoid the cljs-build of Datahike in cljdoc. So now the cljdoc build is fine but as soon as cljs is working again in datahike we will have to enable the cljs-build in cljdoc again.

[2020-10-19 10:53] #88 closed

[2020-10-19 10:54] TimoKramer commented on #72
duplicate to #216

[2020-10-19 10:54] #72 closed

[2020-10-19 10:55] TimoKramer commented on #66
part of #196 ... closing

[2020-10-19 10:55] #66 closed

[2020-10-20 08:44] TimoKramer commented on #241
Thanks for reporting @xz-stjude.

[2020-10-20 09:25] TimoKramer opened #242 "Transacting on cardinality/many results in overwritten values"
When I transact multiple values on a db with an attribute that has assigned the schema cardinality/many it overwrites the values and only the last one prevails.
[code]
[code]
[code]

Expected behaviour is that all the likes and all the friends are shown in the datoms query. Instead it only shows the last transacted ones.

[2020-10-20 09:32] TimoKramer opened #243 "Transaction report missing added or retracted flag"
I expect the transaction report to show which datoms are added or retracted. It does show the datoms multiple times but not what happened to them.
[code]
[code]
Obviously in this case it shouldn't be retracted at all. This is the issue #242.

[2020-10-21 09:38] TimoKramer commented on #242
false alarm. this is an issue with my configuration.

[2020-10-21 09:38] #242 closed

[2020-10-21 10:52] TimoKramer opened #244 "datoms on :avet returns nil"
When using the datoms api like this
[code]

I would expect it works like in the example from api-namespace:
[code]

[2020-10-21 12:58] TimoKramer opened #245 "seek-datoms do not work like expected"
seek-datoms does not work like in the given examples from api namespace. Either the examples or the implementation is wrong. Please have a look at the failing tests I have written: https://github.com/replikativ/datahike/blob/30e1c1932bba65c8fec429c324761b5003d56c95/test/datahike/test/api.cljc#L473

[2020-10-21 18:08] w9 opened #246 "Consider running transaction function calls in parallel"
[Currently](https://github.com/replikativ/datahike/blob/9e4e619d5f06feedacc9d31ad13da88ac2f409d2/src/datahike/db.cljc#L1473), multiple `:db.fn/call`'s are executed sequentially. Since these functions are mandated to be [pure](https://docs.datomic.com/on-prem/database-functions.html#text-create-install-transaction-functions), they need not block each other. They should be able to run in parallel. T

[2020-10-21 21:49] w9 opened #247 "`:tx-data` cannot be used as a data source for `d/q`"
In Datomic, the `:tx-data` in a transaction report returned by `d/transact` can be directly used as a data source for a follow-up query. This is very convenient when trying to e.g. get a list of retracted/modified attributes.

As of Datahike v0.3.2, using `:tx-data` directly in `q/transact` results in a conversion error:

[code]

A simple workaround for me right now is

[code]

However, I think th

[2020-10-27 09:12] TimoKramer opened #249 "Formatting rules colliding with Intellij auto-formatting"
There is a problem with auto-formatting on Intellij on let-bindings. Is there a setting in Intellij to avoid that?

[2020-10-28 15:02] TimoKramer commented on #244
That the index needs to be set to true will be specified in the docs. Then this is no bug and working totally fine.

[2020-10-28 15:02] #244 closed

[2020-10-28 18:21] TimoKramer commented on #245
Added some more tests to show that seek-datoms does not work as expected: https://github.com/replikativ/datahike/pull/240/files#diff-0fe464655410c00023888cbd75294fbdfbef590285906dcc5285ffc6dafd8683R597

[2020-10-28 21:52] jsmassa commented on #249
How do you set the formatting rules to comply with our guidelines in general?

I have only found the standard Intellij way via settings->editor->codestyle->clojure. I couldn't find the right settings to comply with our guidelines though. But it looks like you can set the indentation for different core functions under the tab "Form Parameters".

[2020-10-29 06:38] TimoKramer commented on #249
Currently it is default cljfmt formatting and there is nothing specified though this is possible. I heard that Intellij is formatting differently especially the let-bindings and I wanted to know from Intellij-users if this can be adjusted to not having a lot of reformatting in the PRs. I don't know where this reformatting was that @kordano mentioned.

Either the intellij-users set the formatting f

[2020-10-29 09:57] TimoKramer commented on #249
https://github.com/replikativ/datahike/pull/236/files#diff-24742157a2cef9db99aa63817dda341a1d110787835b4a18ac27aa95c9bcc529R109-R116

[2020-10-30 15:00] TimoKramer commented on #174
This issue can currently not be resolved because returning vectors is a breaking change and needs further investigation aligned with coming changes.

[2020-10-30 15:00] #174 closed

[2020-10-31 15:59] TimoKramer commented on #249
discussion on this in the [clojure style guide](https://github.com/bbatsov/clojure-style-guide/issues/10) that we follow so far

[2020-11-02 16:09] jsmassa commented on #249
Ah, ok, that's the formatting you mean... And yes, the forcing of alignment of let binding values can be turned off and on in settings as well in Intellij

[2020-11-09 11:46] TimoKramer commented on #245
error on my side. this works fine.

[2020-11-09 11:46] #245 closed

[2020-11-11 07:42] TimoKramer commented on #196
Regarding empty protocols we decided on implementing a client library following the api namespace to speak to the Datahike server.

[2020-11-13 19:37] TimoKramer opened #253 "Switch to Clojure CLI tools and deps.edn"
see https://github.com/replikativ/datahike/blob/development/doc/adl/adr-001-build-tooling.org

[2020-11-13 19:50] #196 closed

[2020-11-20 12:38] #253 closed

[2020-11-30 04:27] ajoberstar opened #258 "Indexed UUIDs are sorted inconsistently breaking some lookup refs"
I've been trying out datahike and was trying to use a UUID with unique identity to simplify retrievals and upserts. Due to what appear to be ordering inconsistencies, UUIDs starting with 0-7 are basically lost in the index and 8-f are findable.

I was trying to trace through the code to see where this is happening, but couldn't find anything that seemed convining. However, it does seem like the in

[2020-11-30 04:39] ajoberstar commented on #258
Also noticed that overriding the UUID behavior in `IKeyCompare` gets it to work consistently (for my dataset).

[code]

[2020-11-30 08:58] markusalbertgraf commented on #258
That might solve #122 too.

[2020-11-30 19:38] ajoberstar commented on #258
I think I've tracked it down, and ultimately it's a hitchhiker-tree issue, but it manifests in datahike due to the way it uses the key comparison.

First, hitchhiker-tree's default IKeyCompare includes [custom compare implementations](https://github.com/replikativ/hitchhiker-tree/blob/c582e65b0cf3479e55e40a4505f80e9a2c1be7af/src/hitchhiker/tree/key_compare.cljc#L103-L220) for a number of types, no

[2020-11-30 19:41] ajoberstar commented on #122
FYI, @markusalbertgraf noted that #258 is the same issue as this, and I think I've [tracked down the cause](https://github.com/replikativ/datahike/issues/258#issuecomment-735998099).

Might look a little into the necessary hitchhiker-tree change, but would be interested in feedback on how the maintainers would like it fixed.

[2020-11-30 20:36] ajoberstar commented on #258
As a hacky workaround until a fix is in place, this is probably better than changing my previous `extend-protocol` suggestion. I would guess that any fix made will involve keeping the sorting of UUID that is set in `IKeyCompare`, so this one will be more likely to give you forward-compatible indices.

Call this before you first create/load a db and it should behave consistently.

[code]

[2020-12-01 08:22] whilo commented on #258
Hey @ajoberstar , thanks a lot for reporting this and tracking it down so quickly! It is very much appreciated, since I have not had the time yet to track down this issue.

Your explanation makes sense. I decided not to implement collection handlers in the hh-tree repository so far because I did not want to decide too much of the semantics in the hitchhiker-tree itself, but I think it is definitel

[2020-12-04 13:43] markusalbertgraf opened #262 "Export needs sorting schema first to be importable"
Hi,
when schema is added later in the life of a db, exported data can not be imported again without sorting schema to the top of the file first.
There is a script at [https://markusgraf.net/2020-12-03-Datahike-export-schema-sort.html](https://markusgraf.net/2020-12-03-Datahike-export-schema-sort.html) that does this as a short term solution along with some thoughts on what I think is going on.

[2020-12-08 10:07] mokshasoft opened #263 "Improve the config debug logging"
This line prints the whole config, including the password that is part of the config when using the JDBC backend.

https://github.com/replikativ/datahike/blob/11b6be4fd4e36ec77500839ffff8a0873f16053a/src/datahike/config.cljc#L127

The line could be changed to:
(log/debug "Using config " (update-in merged-config [:store] dissoc :password))

Or is there a better way to supply the password?

[2020-12-08 10:56] TimoKramer commented on #263
You could set the logging to a higher level as well. Or do you think it should still not log the whole config?

[2020-12-08 11:16] mokshasoft commented on #263
I have, as far as I know, not set the logging level in my project and it seems like :debug is the default value in timbre. I don't think that it is good to print out passwords to logs by default. I also don't know what is customary, but I would either not print it or change the default datahike log-level to info, and/or change the password printing to :trace.
In our project I'll set the level to :

[2020-12-08 12:03] TimoKramer commented on #263
The level of logging is set in the logging implementation. That has to be done in the project that uses datahike as a library.

Please have a look here: https://github.com/replikativ/datahike/blob/35e9710be3f22cf9b1e2af7fcf504fb91990f9bd/doc/logging_and_error_handling.md

Since I don't like the current logging of the config as well, I am rephrasing the issue and will change this soonish to somethi

[2020-12-14 17:39] TimoKramer opened #267 "error logs appearing when defining schema in SNAPSHOT release"
I am getting errors when using `:schema-flexibility :write` on transacting the schema:

[code]

This applies to the current SNAPSHOT 0.3.3-SNAPSHOT

[2020-12-15 15:14] TimoKramer commented on #263
@mokshasoft PR is up

[2020-12-15 15:15] #249 closed

[2020-12-15 15:33] mokshasoft commented on #263
Great!

[2020-12-19 04:50] whilo commented on #243
We cannot retain the report as we did before, because upserts now happen lazily and will only be applied once they hit the data node in the hitchhiker-tree (which also happens when you read). We could add the upserts to the report though @grischoun . @TimoKramer What do you need the report for?

[2020-12-19 13:12] TimoKramer commented on #243
When I was writing tests for the api-ns overhaul I tried all the examples from the docs and could not reproduce the ones for the datoms api. So I wrote my own tests with schema and inputs. For the datoms api it was really hard for me to find an input that reproduces the output from the previous examples. (https://github.com/replikativ/datahike/blob/745133fa2240771dee2bfffc947b4db48c74549e/test/dat

[2020-12-22 15:31] TimoKramer commented on #243
seems not to be applicable because with the upsert-change there is no instant feedback on if there will be a transact or retract. This behaviour should be described in the release notes though.

[2020-12-22 15:31] #243 closed

[2020-12-31 12:43] joelkuiper commented on #8
I'm currently evaluating some persistence layers for a cross platform desktop app, and I'm really liking what I'm seeing here! Seems like such a great fit with cljfx. Was just curious if the Windows compatibility was still work in progress :blush: I could also give it a looksy if needed!

[2021-01-01 03:46] whilo commented on #8
Hey @joelkuiper, happy new year! I am happy that you like what we do :). Having an example interaction with cljfx would be very cool, we have thought about that in the past as well, but have not had the time yet to do it. Lending a help with Windows support would also be very much appreciated as @kordano is currently involved with other Datahike features. Feel free to open issues and PRs and also

[2021-01-01 09:15] ema-fox commented on #241
Looking at the relevant [code in db.cljc](https://github.com/replikativ/datahike/blob/f24eda741c85e117e96944afee648438b7f69431/src/datahike/db.cljc#L1759) it seems to me that this behavior is already implemented in `:db.fn/retractAttribute`.

An open question is if `:db/retract` without value arg should recursively retract components like `:db.fn/retractAttribute` does. I didn't find any guidance

[2021-01-05 10:34] ronnac commented on #8
I have the same issue. I'd like windows support for konserve, too.

[2021-01-05 12:45] joelkuiper commented on #8
Just checking in! Hey @whilo thank you, I just briefly tried it under Windows using the map configuration (instead of the JDBC-like string) and it appears to be working flawlessly when using the :file-based storage! I managed to integrate it into my cljfx app (still very much a work in progress prototype) by modifying this example https://github.com/cljfx/cljfx/blob/master/examples/e32_editable_ta

[2021-01-05 22:35] whilo commented on #8
@joelkuiper That is great! :smile:  Please share the code with us on discord if you decide to make it openly accessible.

Ok, if this is working for everyone else then we can close this issue, since the old URL configuration is supposed to be deprecated now anyway.

[2021-01-06 10:59] TimoKramer commented on #62
Can this be closed. The upsert improvement should have resolved that, right?
https://github.com/replikativ/datahike/pull/201

[2021-01-06 11:05] whilo commented on #62
Yes, it should be improved, but the improvement mostly depends on how konserve-pg or konserve-jdbc performs at the moment. A reason for the slowness here was also the IO after each operation, which is necessary if you call transact for each entity in separate.

[2021-01-07 17:27] kordano opened #273 "add hitchhiker tree config"

[2021-01-07 17:53] kordano opened #274 "check dependencies and update them"
- [ ] hitchhiker-tree
- [ ] superv.async
- [ ] datalog-parser
- [ ] zufall

[2021-01-11 08:51] #263 closed

[2021-01-11 15:47] #241 closed

[2021-01-22 15:24] pdenno opened #279 "No method :-resolve-chan with 0.3.3"
Hi,
Yesterday I tried to switch from 0.3.2, where things were going well, to 0.3.3. I'm using a file-based backend on MACOS with clojure 1.10.1. On rebuilding the database I get the following error.

[code]

[2021-01-22 21:13] grischoun commented on #279
I’ll look into this.

[2021-01-24 21:46] whilo commented on #279
@pdenno Can you provide us with a dependency tree of your project?

[2021-01-25 13:53] pdenno commented on #279
[code]

[2021-01-25 18:24] MrEbbinghaus commented on #258
Stumbled across this problem last night. Thought I was going crazy not finding the bug in my code.

[2021-01-26 10:42] MrEbbinghaus commented on #267
I think this is resolved.

Some later SNAPSHOTs and the current stable don't have the problem anymore.

[2021-01-26 10:52] grischoun commented on #267
Yes, this issue has been fixed. Thanks for reporting.
Closing.

[2021-01-26 10:52] #267 closed

[2021-01-28 17:03] grischoun commented on #279
Hi @pdenno ,

Could you elaborate on what you mean by 'rebuilding the database'?

Also, do you think you would be able to create a small example that reproduces the bug?

[2021-01-28 17:12] pdenno commented on #279
By rebuilding the database I mean:

[code]
Yes, I will try to create a small example. I might not be able to get to it until the weekend, though.

[2021-01-28 17:28] grischoun commented on #279
No problem. Thanks!

[2021-01-31 17:19] pdenno commented on #279
My apologies! This was all owing to user error. I was establishing a connection to the database, (d/connect db-cfg), then deleting and recreating the database, and continuing to use the stale connection.

[2021-01-31 20:06] grischoun commented on #279
No worries.
I am closing the issue then.

[2021-01-31 20:06] #279 closed

[2021-02-01 08:46] #73 closed

[2021-02-01 08:46] #80 closed

[2021-02-01 08:47] #81 closed

[2021-02-01 08:47] #96 closed

[2021-02-01 08:47] #117 closed

[2021-02-01 08:47] #168 closed

[2021-02-01 08:47] #188 closed

[2021-02-01 08:47] #189 closed

[2021-02-01 08:47] #190 closed

[2021-02-01 08:47] #207 closed

[2021-02-01 08:48] #218 closed

[2021-02-01 08:48] #273 closed

[2021-02-01 08:48] #274 closed

[2021-02-01 08:48] #9 closed

[2021-02-01 08:49] #25 closed

[2021-02-01 08:50] kordano commented on #104
Integrated with the release `0.3.3`.

[2021-02-01 08:50] #104 closed

[2021-02-01 08:51] kordano commented on #97
We are moving these ideas to our roadmap plans, so I'm closing this issue here.

[2021-02-01 08:52] #97 closed

[2021-02-01 08:55] kordano commented on #156
This issue should be moved to datahike-server if it's still relevant.

[2021-02-01 08:55] #156 closed

[2021-02-01 08:56] kordano commented on #103
We moved `listen` to the `api` namespace. You may use it from there: https://cljdoc.org/d/io.replikativ/datahike/0.3.3/api/datahike.api#listen

[2021-02-01 08:56] #103 closed

[2021-02-01 08:57] kordano commented on #21
Moving that issue to our roadmap.

[2021-02-01 08:57] #21 closed

[2021-02-03 04:05] whilo commented on #206
This is available as a preview in a feature branch now: https://github.com/replikativ/datahike/tree/206-cljs-support. Feedback is appreciated! Please join our discord here: https://discord.gg/kEBzMvb.

[2021-02-08 12:43] ysmiraak opened #283 "tempids not resolved in tuple attributes with ref types"
First of all, thanks for the awesome library!
Version `0.3.3` added support for tuples, which was exactly what I needed.
I was excited to try it out, and found this inconsistency.

[code]

with the setup above

[code]

the `ref` in `:ref+idx` transacted with str tempids did not resolve to the correct entity.
comparing this with the behavior of a ref type attribute:

[code]

I don't know if this is

[2021-02-08 13:19] jeans11 opened #284 "Slow transact"
Hi!

I'm currently testing Datahike and I found the transact (on file storage) slower for just one item

<img width="1266" alt="Screenshot 2021-02-06 at 18 15 44" src="https://user-images.githubusercontent.com/7700239/107224944-71722f00-6a18-11eb-9176-abdfdb09e079.png">

It's normal?

I store the db in `/tmp` on a MacBook pro (2015)

[2021-02-08 22:23] whilo commented on #284
Hey, @jeans11! Can you explain what you exactly compared and what was slower? I get the sense that you transacted individually and in batch, but I am not sure.

[2021-02-09 08:27] jeans11 commented on #284
Hi @whilo!
After spending few minutes to clean my laptop memory, I don't have slow transact anymore.
Sorry for the inconvenience but I think the issue was my laptop.
Now everything works perfectly!
Thx

[2021-02-09 08:27] #284 closed

[2021-02-10 19:16] grischoun commented on #283
Hi @ysmiraak

Thanks for reporting this.
I will look into it and get back to you.

[2021-02-12 18:31] jbadeau commented on #175
@and update on the RDF mapping?

[2021-02-15 03:32] whilo commented on #175
@jbadeau We are still working on it. What specifically would you be interested in?

[2021-02-15 11:53] levitanong opened #285 "No implementation of method: :-resolve-chan of protocol: #'hitchhiker.tree.node/IAddress found for class: clojure.lang.PersistentArrayMap"
I've been working on a toy discord bot app, and the following error has appeared twice. I will be elaborating on each instance. Each instance was preceded by some kind of OOM error, but such errors occurred before, and the app was fine afterwards. It was only after a few days of operation (and during this time, around one restart a day because of the OOM) that this error appeared. At this point, a

[2021-02-15 14:05] TimoKramer commented on #285
Hi @levitanong. Can you please share your current dependencies of your project? I would try some things to replicate when I get a sense of where the problem might come from.

[2021-02-15 14:27] levitanong commented on #285
here you go!
[code]

[2021-02-15 23:34] whilo commented on #285
I guess reproducing the OOM error is not easy, but if it would be possible to have a minimal reproducible example that would be helpful. I think we have not dealt with OOM errors before, it is possible that there is some serialization error when writing the hitchhiker-tree in this case. OOMs are tricky because runtime behaviour after them is undefined, nonetheless we need to guard against corrupti

[2021-02-16 07:32] TimoKramer commented on #285
Hi @levitanong . Can you remove the dependency on konserve-pg? That should not be needed here.

[2021-02-16 07:36] TimoKramer commented on #285
Did the error first appear when you upgraded from 0.3.2 to 0.3.3?

[2021-02-16 07:49] levitanong commented on #285
Ah, konserve-pg was a holdover from when I was experimenting with Crux. I'll take that out.

As for the version, I never used 0.3.2. It was 0.3.3 from the beginning.

[2021-02-16 07:51] levitanong commented on #285
Ah no, correction, konserve-pg was there because I was trying to figure out a separate bug. 😅 Still, removed.

[2021-02-16 08:33] TimoKramer commented on #285
So, disregarding the OOM for now I hope that the original error about the IllegalArgumentException disappears when the old konserve-dependency is removed. Is this the case?

[2021-02-16 09:32] levitanong commented on #285
With that dependency removed, the error is still there, and I suspect the only way for me to "recover" is by doing the whole export-import trick. As for whether or not removing the dependency will prevent the IllegalArgumentException from happening, I suppose only time will tell. I think it would be impractical to keep this open for X amount of time, so I think I'll close this first, then reopen w

[2021-02-18 10:17] jbadeau commented on #175
@whilo I am looking for a lightweight RDF store to implement an OSLC server. All of the usual suspects are way to heavy.

[2021-02-18 10:18] jbadeau commented on #175
i also would like to make use of temporal aspects for metrics/kpis

[2021-02-19 09:01] bennoloeffler opened #286 "protorepl and datahike: dependency issue"
Hi everyone,
I tried datahike in atom with protorepl and found that those dependencies crash:

[code]

They result in:
`Syntax error macroexpanding clojure.core/refer-clojure at (clojure/core/async.clj:9:1)`
(and a huge stacktrace)

Because:
current [proto-repl "0.3.1"] depends on [org.clojure/core.async "0.2.374"]
current [datahike "0.3.3"] depends on [org.clojure/core.async "1.3.610"]

`lein dep

[2021-02-19 13:46] TimoKramer commented on #286
thanks @bennoloeffler! now people can find this here. that indeed could help someone with the same problem. :+1:

[2021-02-19 13:46] #286 closed

[2021-02-19 17:18] grischoun commented on #283
[code]

@ysmiraak I tried your example on datomic client but the ref in the tuple is not recognized either. I get this error:

[code]

[2021-02-20 07:22] levitanong commented on #285
I regret to inform you that it's still happening 😆

[code]

[2021-02-21 12:37] markusalbertgraf commented on #262
I think Datomic solves this with partitions.
Partitions are:
- :db.part/db
- :db.part/tx
- :db.part/user
1) db/id are Longs
2) schema entries start at db/id 0
3) tx entries starting at db/id hex 0c 00 00 00 03 f0
4) data entries start at db/id hex 10 00 00 00 03 eb

In a new database there have already been a few transactions at creation time to preload schema.
Hex 3e8 equals decimal 1000.  So the

[2021-02-22 01:40] ysmiraak commented on #283
@grischoun ah so i guess it's best to avoid using tempids in tuples.  thanks!

[2021-02-22 07:58] levitanong commented on #285
I'm not sure if this is related, but the heap space errors I'm getting that usually precedes IllegalArgumentException involves FressianReader. I did some searching and Konserve uses FressianReader. I have no way of knowing if it's Konserve exactly though, or if it's something else that uses Fressian.

[code]

[2021-02-22 17:41] markusalbertgraf opened #287 "max-tx not correct after import-db"
Hi!
Import-db works in batches of 1000 datoms.
It seems that after import `max-tx` is `tx0` incremented by the number of batches and not the biggest imported tx.
This means that new transactions reuse old tx ids.
This conceptually merges old transactions with new ones and messes up history.

As far as I can see the `db` is a record and `:max-tx` is simply a field on this record that can be manipul

[2021-02-23 08:47] TimoKramer commented on #285
Hi @levitanong, I am trying to make a sense of the problem here. It seems like a dependency issue to me, at least for the IllegalArgumentException. Do you have a way to reproduce the problem? If yes, could you share some code on how to do that?

[2021-02-23 09:00] levitanong commented on #285
There's no way to reproduce it reliably I'm afraid. The illegalargumentexception issue only happens once in a while in production on heroku.

[2021-02-23 11:20] markusalbertgraf commented on #287
The import itself already overwrites existing txs.  `max-tx` will have to be set before the import!

[2021-02-23 12:10] markusalbertgraf commented on #287
This seems to work correctly:

[code]

[2021-02-23 15:14] kordano commented on #287
Thanks for your time on the import/export @markusalbertgraf! Could you create a PR for that? For the next versions we are working on a more extensive migration tool for the CLI that supports version and backend migrations in Datahike. With your permission we would re-use your code there as well.

[2021-02-24 14:58] markusalbertgraf opened #289 "upsert fails on variations of previously replaced values"
Hi!

I stumbled over this bug while upserting oauth2-access-tokens which are strings and need to be refreshed every 60 minutes.

These tokens all start with the same character sequence.

Upsert of string values may fail when
1. A previously deleted value is a left sub-string of the new value.
2. The db is above a certain size.

To clarify 1):  "Markus" can be upserted to "Markus1" but then further

[2021-02-24 19:49] markusalbertgraf commented on #287
Great!
Feel free to use my code.
I created a PR.

[2021-02-25 10:24] grischoun commented on #289
Hi @markusalbertgraf,

Thanks for reporting the issue and also for taking the time to create the project. It is going to be very helpful.
I'll have a look at it very soon.

[2021-02-25 12:27] markusalbertgraf commented on #289
As @whilo suggested I checked the indices as provided by d/datoms.
:eavt and :aevt contain only the latest state.
:avet contains (maybe) all current and previous states.  Even with multiple identical entries if transactions have been repeated.

[2021-02-27 04:56] whilo commented on #175
@jbadeau That sounds interesting :+1: . I am not sure what you precisely need, but edn already has RDF semantics basically. You can transact fully namespace qualified data about entities into Datahike.

[2021-03-03 11:53] refset commented on #246
I think this would require a breaking change because the current behaviour, inherited from DataScript, evaluates transaction functions using intermediate "speculative" `db` values based on the previous operations applied _within_ a transaction. It would therefore be problematic to decide whether a list of transaction function operations could be safely "expanded" (i.e. evaluated) in parallel or no

[2021-03-03 17:40] whilo commented on #246
@refset @w9 I would also stick to serializability as the default (same as DataScript) and only opt-out with the user's permission via fine-grained concurrency/consistency controls. Having said this we could introduce a new `:db.fn/commutative-call`, @w9 would something like this work for you? We could then filter those out and apply them in parallel on the initial value of the DB (like Datomic).

[2021-03-03 21:48] whilo commented on #285
@levitanong To agree what the expected behaviour should be: The JVM experiences an OOM error and the process is terminated or at least there are no further transactions executed. After an OOM error the behaviour of the JVM is undefined. It often keeps running fine after, but it can fail in a critical section. I think what can have happened is that not all index bits were written because of the OOM

[2021-03-04 03:43] levitanong commented on #285
I had no mental model of the root cause of the problem, (only that the two might be related) but your hypothesis sounds sensible! Sounds like it would be consistent with the fact that exporting seems to work fine, and that importing "fixes" the runtime, since I suppose indices are generated and have no need to be exported.

[2021-03-11 10:10] markusalbertgraf commented on #287
Thank you!

[2021-03-11 10:10] #287 closed

[2021-03-19 09:32] grischoun commented on #289
@markusalbertgraf we found out the source of the issue and are now working on a fix.

[2021-03-26 17:12] jsmassa opened #294 "Optimize Query Engine"
- [x] Bind scalar query arguments directly
- [x] Implement efficient hash-join function
- [ ] Add caching
- [ ] Add type hints
- [ ] Use collection query arguments to restrict fetched data
- [ ] Use predicates to restrict fetched data
- [ ] Enable optional reordering of clauses

[2021-03-30 11:49] grischoun commented on #289
Hi @markusalbertgraf,

We have the fix ready. But before deploying, we would like to make sure that it works for you.
Would you be able to try on your application with the fixed branch, i.e., https://github.com/replikativ/datahike/tree/289-upsert-fails-on-repeated-value ?

[2021-03-31 16:16] knubie opened #295 "Replication backends"
I apologize for using Github Issues as a discussion forum, but this seemed like the most appropriate place to bring it up. I've been following datahike for some time now and I'm really excited about the progress being made recently, especially with the Clojurescript support.

At the moment I use the Pouchdb/Couchdb combo for a local-first approach for my application. I really love the "backend ada

[2021-03-31 22:04] knubie commented on #295
I've also been doing some research around this area of local-first databases, particularly around react and how they might interact / compare with existing state management solutions. I've been compiling my research in a zettelkasten notebook in case you're interested: https://app.mochi.cards/decks/matt/dscynl21e34EFFr/Databases

Btw I've also noticed on the blog post about CLJS integration that y

[2021-03-31 23:07] whilo commented on #295
Hey @knubie , thanks for reaching out! Homebase is sponsoring part of our ClojureScript work and we are closely collaborating with them on frontend dev tooling for Datalog at the moment. I am also friends with one of the cofounders and we in general have a high value alignment and similar long-term goals for a distributed open-source infrastructure for more adaptive and democratic social processes

[2021-04-01 16:47] #295 closed

[2021-04-02 16:29] grischoun commented on #289
@markusalbertgraf We have released a new version of Datahike (0.3.4) with the fix I mentioned in my previous message.

I am closing the issue. Feel free to reopen it if we missed something.

[2021-04-02 16:29] #289 closed

[2021-04-02 20:11] markusalbertgraf commented on #289
Thank you!!!
And sorry I missed your mention 3 days ago.

[2021-04-03 02:17] mainej commented on #262
I'll second this. After exporting my db, I can't import it. The sequence of steps to reproduce the issue:

1. Transact schema for an attribute
2. Transact an entity with that attribute
3. Transact 1000 more datoms
4. Transact schema for a second attribute
5. Transact a value for the second attribute onto the entity created in *step 2*
6. Export
7. Import

This fails because the export happens in :

[2021-04-03 20:25] dgr opened #299 "datahike 0.3.4 throws clojure.lang.Compiler$CompilerException"
I get this same error in projects, but the easiest way to recreate is via `lean try io.replikativ/datahike "0.3.4"`.  Looks like a problem with `upsert.cljc`. Datahike 0.3.3 does not have the problem.

[code]

[2021-04-03 20:46] grischoun commented on #299
Thanks for reporting @dgr.
We are looking into it.

[2021-04-04 18:51] grischoun commented on #299
@dgr v0.3.5 has been released: https://clojars.org/io.replikativ/datahike/versions/0.3.5.
It should fix the issue.

[2021-04-04 18:51] #299 closed

[2021-04-04 18:53] grischoun commented on #289
No problem.

There was a dependency issue with v.03.4 and v.0.3.5 has been released to fix the issue.
https://clojars.org/io.replikativ/datahike/versions/0.3.5

[2021-04-04 21:46] mainej commented on #258
Note, this is still occurring, even with the 0.3.4 release, possibly because https://github.com/replikativ/hitchhiker-tree/pull/24 was merged into the `development` branch, but not yet to `master`.

[2021-04-05 08:19] kommen opened #302 "Remove hard ClojureScript dependency?"
I'm using datahike server-side only, however it still brings in a hard ClojureScript dependency via `hitchhiker-tree`, `konserve` and others which  I believe is unnecessary:

[code]

Many libraries prevent this by specifying their ClojureScript dependency as `:scope "provided"`.

[2021-04-05 13:30] dgr commented on #299
Seems to work now. Thanks!

[2021-04-07 04:03] whilo commented on #258
Yes, the current release was a hotfix for a newly introduced bug with `0.3.3`. We plan our new feature release at the moment including the UUID fix.

[2021-04-07 09:19] TimoKramer commented on #302
Hi @kommen . Afaik clj-tools [does not (yet) support scope for deps.](https://ask.clojure.org/index.php/9110/scope-in-deps-edn-should-be-added-and-not-deleted-from-pom-xml)
I am thinking about using an alias here for cljs but making cljs a second class citizen here is maybe not the right approach, so I am open for suggestions here. Of course a PR is always very much appreciated.

[2021-04-09 06:29] kommen commented on #302
Thank you, I didn't know that tools.deps didn't support that. I guess there is very little to be done here then for now.

[2021-04-09 06:29] #302 closed

[2021-04-09 07:59] TimoKramer commented on #302
Looking at [meander](https://github.com/noprompt/meander/blob/epsilon/deps.edn) and [promesa](https://github.com/funcool/promesa/blob/master/deps.edn) it seems like an approach is to put clojure and clojurescript into the dev alias. Do you want to try that out and make a PR for it?

[2021-04-09 08:22] #283 closed

[2021-04-09 15:21] #122 closed

[2021-04-13 07:58] ysmiraak opened #303 "invalid blocking call from hitchhiker tree"
with `-Dclojure.core.async.go-checking=true` i sometimes get this error.

[code]

i can't consistently reproduce this, but the stack trace points to some code in hitchhiker tree.

if anyone knows how to go around this problem, i'd be thankful!

(i'm using version 0.3.5)

[2021-04-14 04:42] whilo commented on #303
Hey, thanks for reporting this. I somehow missed the introduction of this flag, it looks very useful. Do you use core.async yourself to invoke Datahike's query here?

[2021-04-15 03:55] ysmiraak commented on #303
i'm using pathom and fulcro, with a setup similar to [this](https://github.com/fulcrologic/fulcro-template/blob/master/src/main/app/server_components/pathom.clj).
the async query calls are made by pathom.

[2021-04-16 02:13] whilo commented on #303
This is unfortunate and not so easy to resolve because on the JVM we compile away most of core.async, but bottom out on these ones in the storage layer. I have to think about it. A radical solution would be for us to provide our own core.async fork, but this is not a lightweight fix.

[2021-04-17 04:56] ysmiraak commented on #303
i found [this](https://blog.wsscode.com/pathom/v2/pathom/2.2.0/connect/thread-pool.html)

the blocking effect is unfortunate but acceptable for me.

if there can be no lightweight solution, maybe close this issue?

[2021-04-21 14:38] rafd opened #308 "Pull with reverse attribute returns duplicate results"
After transacting data multiple time, a pull query with a reverse attribute includes a copy of result for *each* time it was transacted.

For example:

If I transact the following:
[code]
When I pull using:
[code]
I expect to get the following (no matter the number of times I transact the above):
[code]
But, if I transact 2 times, I get this instead:
[code]
Note the duplicate objects in the `:talk

[2021-04-22 17:22] rafd commented on #308
Upon further investigation, the underlying cause is that the `:avet` index is erroneously returning all historical datoms, rather than those at current `t`.

A slightly modified version of `datahike.test.index/test-datoms`, where facts are transacted twice, fails the `:avet` tests:

[code]

Fails with:
[code]

[2021-04-22 17:32] grischoun commented on #308
Thank you for reporting and investigating @rafd!
We are looking into this.

[2021-04-26 13:46] apavlo commented on #212
@kordano Do you have a logo yet?

[2021-04-27 13:21] TimoKramer commented on #212
Hi @apavlo. Probably that one? https://datahike.io/assets/images/datahike-logo.svg

[2021-04-27 15:44] den1k opened #312 "Benchmarks error"
Tried on `master` and `development`
[code]

[2021-04-28 07:46] TimoKramer commented on #312
Hi @den1k . Please try to run `mvn compile` first. That should do the trick! Please close this if it works for you.

[2021-04-28 07:47] TimoKramer commented on #312
And please feel free to improve the docs: https://cljdoc.org/d/io.replikativ/datahike/0.3.5/doc/contributing-to-datahike

[2021-04-28 13:22] apavlo commented on #212
Golden. Thanks: https://dbdb.io/db/datahike

[2021-04-28 13:22] #212 closed

[2021-04-28 14:32] den1k commented on #312
Thanks @TimoKramer that works. The docs you linked to are fine. But the mvn command is missing in the readme: https://github.com/replikativ/datahike#performance-measurement

[2021-04-28 14:32] #312 closed

[2021-04-28 14:35] den1k opened #313 "Benchmark cli opts don't work?"
[code]

opts source: https://github.com/replikativ/datahike/blob/development/benchmark/src/benchmark/core.clj#L27-L32

[2021-05-05 00:41] whilo commented on #313
I can run this command `clj -A:benchmark --db-datom-counts '[20000]' --iterations 2 --tx-datom-counts '[20000]' run` on the current `master` and `development` branches. I think you were mixing up `-M` with `-A` here. Does this provide what you need?

[2021-05-05 00:51] den1k commented on #313
That works. Should the docs here also use `-A`?:

https://cljdoc.org/d/io.replikativ/datahike/0.3.5/doc/contributing-to-datahike#starting-the-benchmark

[2021-05-05 00:54] whilo commented on #313
I guess so, what do you think @TimoKramer ?

[2021-05-05 03:05] den1k commented on #313
Tried running benchmarks with a large DB but it kept failing and running out of heap space even after I increased it to 12gigs and wrote to disk:

[code]

Any idea how to run these properly? I mostly care about the query benchmarks.

[2021-05-05 07:33] awb99 opened #314 "blobs / unstructured data"
Is there a way to add a data blob / or fields that are not defined in the schema?
If there is no searching for this fields, this is no problem.

[2021-05-05 08:44] jsmassa commented on #313
I ran into this issue a few days ago as well. Unfortunately, we currently don't have the capacities to investigate the memory problem though as the work on actual query performance improvement has highest priority at the moment.
The benchmarks are also still under construction. I am currently working on the option to restrict the benchmarks to the aspect you actually want to investigate, maybe tha

[2021-05-05 08:46] TimoKramer commented on #313
Hi @den1k, sorry for not seeing your issue here. I am using the latest clojure-tools version `Clojure CLI version 1.10.3.822` and for me it works like intended. Probably update it?
You can set the max heap space like so:
`clj -J-Xmx8G -M:benchmark  --db-datom-counts '[20000]' --iterations 2 --tx-datom-counts '[20000]' run`

[2021-05-05 10:23] jsmassa commented on #313
For me it works as well. And I think I got deprecation warnings for the `-A` flag. I am sure `-M` is the right choice with the current CLI version. See also [here](https://stackoverflow.com/questions/66925857/when-to-use-m-a-or-x-with-clojure-cli).

[2021-05-05 11:02] grischoun commented on #313
For info, it also worked for me. But I had to increase the heap to 20G.
`clj -J-Xmx20G -M:benchmark --db-datom-counts '[20000]' --iterations 2 --tx-datom-counts '[20000]' run`

[2021-05-05 14:38] den1k commented on #313
Can anyone get it to run with 200K --db-datom-counts?

[2021-05-05 14:41] den1k commented on #313
Datahike is making art:

![image](https://user-images.githubusercontent.com/4651810/117159571-02417800-ad86-11eb-8ed2-9a3a6fecbb67.png)

[2021-05-05 15:59] jsmassa commented on #313
Is that the output from the timbre logging for the transaction? I got some beautiful wave patterns from that as well the other day ^^
I think, the default timbre level is still on debug, which is not optimal. you can change it by setting the environment variable `TIMBRE_LEVEL=":warn" ` for example.

Still, I wouldn't even try for 200000 datoms in this version of the benchmarks. Even if it did work

[2021-05-05 16:00] den1k commented on #313
Keep running out heapspace when trying 200K datoms, even with 20 gigs of heap space and file storage only :/ (can successfully run 20K)

```clj -J-Xmx20G -M:benchmark -c file --db-datom-counts '[200000]' --iterations 2 --tx-datom-counts '[20]' run```

[2021-05-05 16:03] den1k commented on #313
Closing this issue, since I should just benchmark this for my use case. Thanks for all the help!

[2021-05-05 16:03] #313 closed

[2021-05-05 19:27] jsmassa commented on #294
More Tasks
- [ ] Add caching
- [ ] Add type hints

[2021-05-05 20:18] den1k commented on #314
FYI, another OSS datalog database, [datalevin](https://github.com/juji-io/datalevin) can do this today

[2021-05-05 20:59] awb99 opened #317 "blocking forever on corrupted database"
The call d/database-exists and d/connect keeps blocking forever.
This is caused by a corrupted database file.
I dont know exactly what caused the db to get corrupted.
But what I would expect is some kind of exception.
Hanging forever is never good.

[2021-05-05 21:02] awb99 commented on #314
Thanks @den1k
I started playing around with datalevin. But then went for datahike.
My reason is that datahike has some documentation, and supports external databases.
I still feel tht datahike is quite experimental, and don't want to go too crazy for somethng sensible as a database

[2021-05-05 21:22] whilo commented on #314
@awb99 If you just want to store blobs you can get the underlying konserve store out with `(:store @connection)` and then use the protocols for `edn` or binary data as described here: https://github.com/replikativ/konserve. You can also use konserve functions to access the blobs also from inside your queries, you will just not benefit from indexing.

[2021-05-05 21:33] whilo commented on #317
Yes, that should never happen. Can you look at the stack in a profiler such as VisualVM and see where it is hanging?

[2021-05-06 02:24] awb99 commented on #317
I have already deleted the corrupted database.
If I will recreate a similar fuckup, then I will save the database and upload it somewhere.

[2021-05-06 02:31] awb99 commented on #314
Nice! Thanks @whilo  I have 25,000 documents of 5-10 MB each. I currently have them as individual edn files on disk, one by one.   Is this a problem for konserve?

[2021-05-06 04:30] whilo commented on #314
No, this is no problem. One thing to keep in mind when using the same store as the database is that you should never mess with the key `:db` in there. All other values are random uuids and probably invisible to you anyway. A cleaner solution can be to use a separate store altogether, depending on whether this is possible for you or not.

[2021-05-06 04:35] whilo commented on #313
Ok, feel free to come back with suggestions for improvements of the benchmarks. We try to get it right, which requires navigating many different trade-offs. Having real use cases being contributed is definitely helpful.

[2021-05-06 09:02] kordano opened #319 "cleanup db records"
The attributes in the DB records needs to be cleaned up:

- [x] add version
- [x] add UUID as ID
- [x] refactor `:schema` for better overview
- [ ] distinguish database connection config and database config

[2021-05-06 16:17] kordano opened #321 "add missing tuple docs to schema.md"

[2021-05-06 16:22] awb99 commented on #314
@whilo Thanksfor your help!  This works for me. But let me ask again, because this is important. Why is it not possible to save fields that are not in the schema? Could you not just add :db.type/map or :db.type/vec and then you know that this is not
searchable, but at least it can be retrieved with the same  logic. Perhaps this is what happens on schema-on-read?

In postgres I have blob. And so wh

[2021-05-06 17:50] #317 closed

[2021-05-06 17:55] awb99 opened #322 "1 writer, n reader"
I cannot find a forum to ask questions for, so I put the question in here:

Is it safe to have multiple connections with one writer app and n reader apps connected to the
same file storage? Will the readers pick up new data?

[2021-05-07 11:12] #294 closed

[2021-05-07 20:40] awb99 opened #326 "paging"
This is perhaps a stupid question. But say the data returned from a query is big,
is there a way to return pages? Most database have a feature like that, so wondering
how to deal with this in datahike.

[2021-05-07 21:18] whilo commented on #322
Yes, this post is describing how you can have multiple readers and one writer with shared file storage at the moment: https://lambdaforge.io/2019/12/08/replicate-datahike-wherever-you-go.html. If you have a shared file system you can ignore the Dat related bits and just run multiple peers on the same shared filesystem. We will automate the refreshing of the connection from the store in our next re

[2021-05-07 21:21] whilo commented on #326
We support paging, but so far it is rerunning the query completely each time and not allowing you to lazily step over results. You can see examples here with `page` and `offset` https://cljdoc.org/d/io.replikativ/datahike/0.3.6/api/datahike.api#q that follow the Datomic paging API. Using this API you will benefit from more efficient paging as soon as we upgrade our query engine for lazy result loa

[2021-05-07 21:29] whilo commented on #314
The problem with this is that we would overload the syntax for the edn-based transactor DSL, since maps and vectors in there have currently the meaning to automatically create new nested entities and triples that are automatically joined with the actual entity. What we can do is probably add a special keywords for literal values in the schema, e.g. `:datahike.edn/map` to pass the value through as

[2021-05-08 01:02] awb99 commented on #326
Nice! Thank you!

[2021-05-08 01:02] #326 closed

[2021-05-11 08:17] kordano opened #327 "add benchmark doc"

[2021-05-11 08:21] kordano opened #328 "Add comparator functions for all datatypes as protocols"

[2021-05-23 10:03] whilo opened #334 "Multival inserts are slow"
`:db.cardinality/many` inserts are still much slower than the new upserts and do not benefit from the lazy semantics of the hitchhiker-tree yet.

[2021-05-23 15:28] #27 closed

[2021-05-25 05:35] whilo opened #336 "GraalVM native image support"
The stack of Datahike is very self-contained and therefore particularly interesting for a native-image.

[2021-05-25 20:54] mainej commented on #262
FWIW, here's some import code which seems to work with the format created by `datahike.migrate/export-db`, though it is slow:

[code]

[2021-05-25 21:33] mainej opened #338 "Datoms disappearing upon reconnection"
I have a (boolean) attribute that exists on several entities. I can set and query that attribute, and as long as I have a cached connection, things appear consistent. But as soon as I reconnect (`d/connect`) the attribute reverts to an earlier value _for some but not all of the entities_. If I continue to transact data with the new connection, then reconnect, again some of updates will be lost, th

[2021-05-26 16:13] kordano commented on #338
Hi @mainej , could you give share your database schema? I'll have a look at the issue then.

[2021-05-26 21:54] mainej commented on #338
@kordano thanks for taking a look at this.

This is hard to replicate, but I've come up with something that seems to do it reliably. Note that in the following code, the sequence of operations is important. The problem doesn't happen if steps are re-ordered or combined.

[code]

[2021-05-27 07:26] #334 closed

[2021-05-27 11:17] kordano commented on #338
Thanks for the detailed info. I'll get right to it.

[2021-05-27 14:30] kordano commented on #285
Could this be closed?

[2021-05-27 14:31] #258 closed

[2021-05-27 14:44] #146 closed

[2021-05-27 15:09] levitanong commented on #285
I'm no longer using datahike, so it's very likely irrelevant at this point. I suppose this could simply be reopened next time someone encounters this again.

[2021-05-27 20:16] whilo commented on #303
I think we either need to fork core.async to make sure that our code is not interfering with async application code or we need to go all in on non-blocking core.async and try to make the hitchhiker-tree async variant on the JVM as fast as the non-async one. The latter we have already tried together with @mpenet and it was not easy to achieve the same performance.

[2021-05-27 21:07] whilo commented on #285
@levitanong Ok, no problem. Which feature or change would make Datahike interesting to you again in the future?

[2021-05-27 21:09] whilo commented on #285
@kordano We have not done OOM tests yet. I think we need to setup a test case where we right to the database while filling up memory and then see whether we can recover after the OOM. I guess that @levitanong does not have a reproducible base case flying around though :smile: .

[2021-05-28 05:44] mpenet commented on #303
This is a call to >!! or <!! inside a go block causing this, which effectively blocks an internal go dispatch thread, so clearly bad practice from whatever is doing that, this doesn't require forking core.async. There should **never** be any blocking IO inside go blocks, if this happens somewhere this should be fixed.

[2021-05-28 06:59] mpenet commented on #303
these 2 are not looking good, I copied that code from the original when we moved the files around :/

https://github.com/replikativ/hitchhiker-tree/blob/master/src/hitchhiker/tree/bootstrap/konserve.cljc#L74
https://github.com/replikativ/hitchhiker-tree/blob/master/src/hitchhiker/tree/bootstrap/konserve.cljc#L114

[2021-05-28 17:15] whilo commented on #205
@den1k Just throwing this in here, in case you are interested we are now also working on https://github.com/homebaseio/datalog-console. We want this to be able to work with different Datomic Datalog databases.

[2021-05-28 18:00] den1k commented on #205
Yes thanks I’ve been following it!

On Fri, May 28, 2021 at 13:15 Christian Weilbach ***@***.***>
wrote:

[2021-05-29 04:34] whilo commented on #303
Yes, this was done deliberately and while being aware of the problem because all in `core.async` was failing us performance-wise in the hitchhiker-tree, while all our storage layer exposes `core.async` abstractions (and is actually now written in asynchronous `java.nio`).  We might be able to use another blocking mechanism there, but I think it would be better if we could make core.async work inst

[2021-05-31 07:36] kordano commented on #338
I could reproduce your problem @mainej and tried to figure out when and why this started to happen. It seems that the error was introduced after version 0.3.2, maybe through our upsert optimizations. So, if you are using Datahike 0.3.2, you should be fine. In the meantime I'm working on solving this issue with the current version.

[2021-06-01 04:37] whilo commented on #303
Ok, I (re)evaluated all the options (changing core.async to detect blocking calls and spawn threads, using JVM green thread solutions and implementing synchronous IO for our storage layer) and I think we need to implement synchronous storage IO in konserve and purge all blocking calls from the codebase (including surface API). Honestly I am fairly disappointed by the JVM ecosystem to still not hav

[2021-06-02 16:05] mainej commented on #338
Thanks for researching @kordano. I can't revert to 0.3.2, as I was experiencing https://github.com/replikativ/datahike/issues/122. The fix for that wasn't merged until 0.3.6.

Good to know that it wasn't present in 0.3.2 though. If I get a chance, I might `git bisect` through the datahike history to see exactly when the problem appears.

[2021-06-03 16:34] grischoun commented on #338
Bisecting was a good idea @mainej. I did it and it is when we moved to the following hitchhiker-tree branch that the bug happens. That is from Datahike commit `01125e3`.

[code]

The bug still needs investigation though.

[2021-06-03 21:42] whilo commented on #338
The bump in the hitchhiker-tree also corresponds to a bump back to `konserve` version `0.5.1` from https://github.com/replikativ/konserve/commit/f904359fc91fd6e6c36b9cd320d7beadaf5a15b7. I am not sure whether this is the reason, but it might be worth trying whether the bug goes away when manually bumping the `konserve` dependency in your project to `0.6.0-alpha3`.

[2021-06-08 11:53] levitanong commented on #285
@whilo Probably ClojureScript support. I'd be hoping writes would be more performant than in datascript. I've actually had to switch to a 2-store model (datascript, plain cljs maps) because it took a minute to transact 20k entries whose schema entity was particularly well connected. I'd also be interested in an async query model to allow for interop with IndexedDB. In general though, even if none

[2021-06-08 19:30] grischoun commented on #338
Closing because this issue is fixed in PR #320 .

[2021-06-08 19:30] #338 closed

[2021-06-10 02:26] whilo commented on #285
20k Datoms should take a few seconds max with the latest development branch (next release). What do you mean with entries?

[2021-06-10 06:56] levitanong commented on #285
Ah, by that I mean data that corresponds to a row in a table. So I guess that would be an entity and all its data. It would be closer to 200k datoms in that case. I've asked around and done some exploration and it seems the index generation is really what slows things down because of all the relationships.

[2021-06-10 15:36] kordano opened #342 "refactor test namespaces"
- [x] move from `datahike.core` to `datahike.api`
- [x] move to `X-test` namespace formats
- [x] update integration tests to use all api-functions
- [ ] evaluate test generation with `clojure.spec`
- [ ] use fixture to run different config on same tests (see tx_log-test)
- [x] use random db-ids
- [x] move config from string to hash-map and use util-fn
- [x] remove `with` from core and adapt api-ns

[2021-06-17 13:13] #161 closed

[2021-06-19 03:35] grav commented on #206
Just wanted to chime in and say that I've gotten the https://github.com/replikativ/datahike/tree/206-cljs-support branch working with NodeJS.

I used this shim: https://www.npmjs.com/package/indexeddbshim
Using Shadow-cljs, I can use it like this:

[code]

Afterwards, the example from the branch-README works flawlessly.

[2021-06-19 23:07] acobster commented on #206
@grav this is really exciting!

[2021-06-21 13:59] kordano opened #345 "allow `:db/isComponent` and `:db/noHistory` to be changed"

[2021-06-23 07:06] kordano opened #346 "extend benchmarks for scaling"
allow setup for 1 million and above datoms

[2021-06-23 07:06] kordano opened #347 "persist benchmark results"

[2021-06-23 07:08] kordano opened #348 "search for performance code smells"

[2021-06-23 07:09] kordano opened #349 "update dependencies"

[2021-06-23 07:09] kordano opened #350 "add tx-meta to transaction"

[2021-06-23 07:14] kordano opened #351 "propose further query performance optimization"

[2021-06-29 18:29] MrEbbinghaus commented on #345
`:db/doc` as well!

Every attribute not in the `db` namespace should be allowed.
`:my/custom-attribute`

[2021-06-30 13:47] kordano opened #353 "improve paginate function"
- refactor current implementation
- improve performance

[2021-06-30 13:49] kordano opened #354 "handle version migrations"
- [ ] design concept for migrations from older Datahike versions
- [ ] add functionality to wanderung

[2021-07-05 11:46] filipesilva opened #355 "Ref lookups on old values return current entity"
When using Datahike 0.3.6 I can see the following behaviour:

[code]

I think the correct behaviour is that both `(d/datoms @conn :avet :node/title "one")` and `(d/datoms @conn :eavt [:node/title "one"])` return nothing instead.

cc @neotyk

[2021-07-05 11:47] filipesilva commented on #355
@kordano mentions this is currently fixed on master (I guess via https://github.com/replikativ/datahike/pull/320).

Current workarounds are either to go down to `0.3.2` or up to `0.3.7-SNAPSHOT`.

[2021-07-05 11:52] filipesilva commented on #355
Fixed via #320

[2021-07-05 11:52] #355 closed

[2021-07-05 14:57] MrEbbinghaus opened #356 "`d/entity` does not match its documentation"
From the docs of `d/entity` :

[code]

But this is not the behavior. (At least with the file backend)
[code]

[2021-07-06 09:07] kordano commented on #356
Thanks, we will adjust the documentation accordingly.

[2021-07-08 13:50] #345 closed

[2021-07-10 16:16] jsmassa opened #358 "Zeros in pattern clauses ignored for hitchhiker-tree index"
Patterns like `[?e :version/id 0]` result in all datoms with attribute `:version/id` being pulled from database. Only happens for hitchhiker-tree index, not for persistent set.

[code]

[2021-07-12 14:33] kordano opened #361 "evaluate tx-log indices for migrations"

[2021-07-14 09:52] kordano opened #363 "history on datoms show duplicates"

[2021-07-16 13:28] filipesilva opened #364 ":cardinality/many refs on 0.3.7-SNAPSHOT list same ref multiple times"
I can see different behavior for `:db.cardinality/many` refs between 0.3.2 and 0.3.7-SNAPSHOT

[code]

I think the behaviour in 0.3.2 is the correct one because there shouldn't be multiple of the same ref.

[2021-07-16 14:11] grischoun commented on #364
Thanks for reporting @filipesilva. I am looking into it.

[2021-07-17 15:40] grischoun commented on #364
It is PR https://github.com/replikativ/datahike/pull/335 that causes this issue.

[2021-07-22 14:20] TimoKramer commented on #342
with-macro possibly to use different configs or best would be to automate different configs.

[2021-07-29 07:48] TimoKramer commented on #342
touch to pull with `(d/pull db '[*] 1)`

[2021-07-30 07:28] baibhavbista opened #367 "datahike.api/as-of shows entities that have been explicitly retracted"
`datahike.api/as-of` shows entities that have been explicitly retracted

I've attached my test code (just modified dev.sandbox a bit)
[code]

The crux of the issue is in the last form. **`datahike.api/as-of` is ignoring the explicit retract.**

The weird thing is implicit retracts (like replacing some value) work
If instead of the retract transact, you do the following, you get correct answers:
[c

[2021-08-08 14:49] sergeiudris opened #368 "clj desktop programs not to be found"
shaking off from sandals if sand of replikativ town, but no mistake: there will be clj desktop programs

[2021-08-08 15:05] #368 closed

[2021-08-12 08:09] alekcz opened #370 "Ratios cannot be stored in datahike in the long term"
#### Error
`No implementation of method: :-coerce of protocol: #'hasch.benc/PHashCoercion found for class: clojure.lang.Ratio`

#### My hypothesis
When running the code to reproduce one notices that the error is only thrown after a number of transactions have been processed (298 more on my machine). My thinking is that when a datom containing a Ratio is initially transacted into datahike it sits i

[2021-08-12 08:15] alekcz commented on #370
cc @kordano

[2021-08-13 09:24] alekcz commented on #370
@whilo I don't think it's super important to support.  The important thing is a consistent approach.  We can't have a perfectly functioning DB becoming unusable 298 datoms later. The initial transaction should fail immediately so the Ratio never enters the datahike

[2021-08-23 09:30] whilo opened #374 "Add insertion read-handlers"

[2021-08-24 12:22] kordano opened #376 "add website and logo to readme"

[2021-08-24 12:38] kordano opened #377 "adjust import/export for tx log"

[2021-08-30 07:19] #374 closed

[2021-08-30 07:20] #353 closed

[2021-09-06 17:27] arthurbarroso commented on #338
I am experiencing a similar issue but am using `datahike-postgres` (and am using datahike version `0.3.6` and datahike-postgres version `0.1.0`):
[code]

My "database" currently looks like this:
[code]

Can you guys spot some mistake on my schema or something I am missing? I'm not sure why this is happening. It seems that the datoms are being "written" to the cached connection but not to my "real"

[2021-09-06 18:06] arthurbarroso commented on #338
I am experiencing a similar issue but am using `datahike-postgres`  (datahike version `0.3.6` and datahike-postgres version `0.1.0`):
[code]

My "database" currently looks like this:
[code]

Can you guys spot any mistake on my schema or anything I am missing? I'm not sure why this is happening. It seems that the datoms are being "written" to the cached connection but not to my "real" one (therefor

[2021-09-08 08:07] jsmassa opened #385 "Decision for equality type for datoms"
Find out if it still make sense to use `==` instead of `=` for entity ids in `equiv-datom` function in datom.cljc. Change this if it does not make sense anymore.
Other datom comparison functions like `cmp-datoms-eavt` throw errors when the type is not `Integer`.

[2021-09-08 12:10] filipesilva opened #386 "Memory leak when using file, postgres backends"
At https://github.com/athensresearch/athens we started noticing a memory leak when using Datahike `0.3.7-SNAPSHOT` and `0.3.2`.

Below is a reproduction that only uses a single unindexed schema attribute:
[code]

Eval'ing `(repro)` inside a REPL will yield output similar to this for the first time:
[code]

Used memory is in MB. You can see here that it increases over time. A GC hint is provided ev

[2021-09-08 13:37] filipesilva commented on #386
I tried with https://github.com/replikativ/datahike-postgres and saw the same increase in memory usage on transaction.

[2021-09-08 14:03] filipesilva commented on #386
Left the repro for 5000 iterations using datahike-postgres and saw transact time ebb up and down between 18 and 85 ms, which points towards it not increasing indefinitely.

Memory on the other hand mostly climbed up from the initial 413mb starting point, sometimes going down 20mb or so, but after the 5000 iterations it was at 615mb.

[2021-09-08 14:40] filipesilva commented on #386
Left the same process running against postgres again, and after 6000 txs it climbed from 613mb to 635mb. So if it's climbing further than that, it is slower than the climb up to 600mb.

[2021-09-08 14:55] filipesilva commented on #386
Tried the local file system backend again on the same process where I had been trying the others.

After 1500 txs it went from 634mb to 570mb. Transactions started taking 44ms and went as high as 164ms, but started ebbing up and down around those values.

So it looks like there's no memory leak with either file or postgres backends, but that memory usage stabilizes around 600mb.

[2021-09-08 14:55] #386 closed

[2021-09-08 17:57] jsmassa opened #387 "Connect to existing filestore created in different process"
While reconnecting when called from the same process works, `connect` when being called from another process fails with

[code]
The respective directory exists though.

It worked previously worked with Datahike "0.3.2".

[2021-09-08 18:29] jsmassa opened #388 "Equivalent datoms should only be added once to database"
Due to compatibility with Datomic.
Datoms with the same e-a-v triple should be omitted and not added to the database again with a different transaction ID.

[2021-09-08 18:30] whilo commented on #387
Which konserve version is this?

[2021-09-08 18:37] jsmassa commented on #387
I used the current Datahike snapshot, which is using hitchhiker-tree 0.1.11, so it should be konserve 0.5.1

[2021-09-09 07:54] jsmassa commented on #387
Could it be because some lock on the file has not been released?
Since `shutdown-agents` doesn't end the JVM process, at least not in reasonable time, I have to call `System/exit` in the end of the database creating process.

[2021-09-10 11:59] fahtative opened #389 "Extend `hitchhiker.tree.node/IEDNOrderable` to `clojure.lang.IFN`?"
Apparently "type not supported" is threw when I tried to use transaction function, installed with a tx: `{:db/ident ... :db/fn <fn>}`. The same error occurs when reading the function from the db (with read schema-flexibility). Extending `hitchhiker.tree.node/IEDNOrderable` to `clojure.lang.IFN`, following [this]( https://github.com/replikativ/hitchhiker-tree/blob/master/src/hitchhiker/tree/key_com

[2021-09-10 17:08] fahtative commented on #389
Ah. I guess it doesn’t make sense to “install” runtime functions like that. Anyhow, how should I approach database functions in datahike?

[2021-09-10 20:37] whilo commented on #389
At the moment the transactor lives in the same process as is the case in DataScript. So you can just call into functions directly. Once our distributed transactor is there we will have to provide a way to store the code in Datahike and `eval` it on each peer as needed. Does this cut it for you or do you already work in a distributed setting with Datahike?

[2021-09-10 20:45] whilo commented on #386
@filipesilva Thanks for taking the time to report! This is probably due to our cache of the actual tree fragments. At the moment we do not cap the size of Datoms (e.g. the string length of values), so there is no easy way to bound the memory in size of megabytes, but one can definitely decrease the cache size of konserve. The current value of is fairly aggressive with a thousand tree fragments, ea

[2021-09-11 03:00] fahtative commented on #389
I see. I understand now that I should wrap function call like this: `[:db.fn/call <fn> ...]`, as documented by Datascript. I'm not working in distributed setting yet, but that sounds promising! Looking forward to it...

[2021-09-11 03:00] #389 closed

[2021-09-13 05:36] MarkusH14 opened #391 "Can't create/open DB in Web Worker"
I tried out the IndexedDB implementation and attempted to use it from a WebWorker. However, Datahike never finds the DB. My assumption is that konserve uses `js/window.indexedDB` which is not available in a WebWorker context. Replacing it with `js/self.indexedDB` or `js/indexedDB` could be enough to solve this.

[2021-09-16 04:13] whilo commented on #387
Can you describe the interleaving of the steps of the two processes a bit more? Concurrent write operations between processes are not yet supported, but are addressed in https://github.com/replikativ/datahike/pull/337.

[2021-09-16 04:52] whilo commented on #391
@MarkusH14 Thanks for reporting this, I did not know about thi. @groundedSAGE we should keep this in mind when we port the indexedDB backend now.

[2021-09-20 09:30] filipesilva commented on #386
@whilo sorry for the delay in answering! Thank you for the context. We guessed it might be the cache because we saw a lot of memory being kept in some file-related things in superv.async on profiling.

I think our expectations would mostly be a way to distinguish between a real memory leak and just some reasonable minimum requirements. If we had known about the cache size in advance, and maybe had

[2021-09-20 12:38] whilo commented on #386
Thanks, we will expose the setting and be more explicit about the system requirements. To provide absolute upper bounds on the requirements we would need to bound Datom size. What would you expect as maximum string size? (we can make this configurable as well)

[2021-09-20 13:45] filipesilva commented on #386
We thought about string size as well. We checked if we were saving something growing ever bigger. I wouldn't be surprised if I we needed ever larger amount of memory if I'm saving bigger and bigger strings. So we'd be happy enough just limiting string on our app.

[2021-09-24 15:20] filipesilva opened #393 "d/with throws IllegalArgumentException"
While developing against a local file Datahike database, @neotyk noticed that d/with fails consistently. We made a repro of this state with the database:

Steps to repro:
- `git clone https://github.com/filipesilva/datahike-broken-load`
- `cd datahike-broken-load`
- `clj -X repro/run`

You can see similar to the following log:

[code]

[2021-09-24 20:12] kordano commented on #393
Thanks for reporting this issue. I'll have a look.

[2021-09-28 09:23] jsmassa commented on #387
Its happening with docker-compose. I am using one service to write data into a database and another service to read it. The file system database uses a volume directory, so it is being persisted. The second service also sees the directory as well as the `ksv` files in it, but when I am trying to connect to the database, it claims the database would not exist.  The whole thing worked before, so I a

[2021-09-29 10:52] filipesilva opened #394 "ref to missing entity"
While working on a database, I ended up in a state where there's a ref to an entity that doesn't exist anymore.

Steps to repro:
- `git clone https://github.com/filipesilva/datahike-broken-ref`
- `cd datahike-broken-ref`
- `clj -X repro/run`

You can see similar to the following log, where the first object is a pull for entity 194, and subsequent objects are different attempts to get entity 258 (r

[2021-09-30 15:28] jsmassa commented on #394
I will have a look what's happening here.

[2021-10-01 07:00] whilo commented on #387
Ok, let me provide some context that might help to trace back this issue. The key to filename translation is happening by `(hasch.core/uuid :db)` => `#uuid "0594e3b6-9635-5c99-8142-412accf3023b" `. This means you should see the file that corresponds to the db value under `0594e3b6-9635-5c99-8142-412accf3023b.ksv`. In particular you should be able to see what is actually being store by reading this

[2021-10-01 12:05] jsmassa commented on #394
Can you tell us which operation you used to remove the entity?

There are three kind operations that perform retractions of datoms
- `:db/retract` which simple removes exactly the datom defined
- `:db/retractAttribute` which removes all datoms with the given entity-attribute pair
- `:db/retractEntity` which removes all datoms with the given entity-id as well as all references to it

If the problem

[2021-10-01 13:23] filipesilva commented on #394
@jsmassa I don't know which exact operation led to this state, as we only realized we were in a bad state a while in. If I had to bet it was `:db/RetractEntity` though.

[2021-10-01 14:13] jsmassa commented on #394
I just tested it on the project you provided. `:db/retractEntity` seems to be working, i.e. it deletes the reference as well. I'd guess the state must have been produced by using `:db/retract` then.

[2021-10-07 13:59] #363 closed

[2021-10-07 14:00] kordano commented on #354
See #361

[2021-10-07 14:00] #354 closed

[2021-10-12 10:00] kordano opened #397 "[Bug]: rule with inline String input for collection fails with parsing error"
### What version of Datahike are you using?

0.3.7-SNAPSHOT

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

[code]

### Describe the bug

Given a rule with input that is bound to a collection in dot notation, the query engine fails with a parsing error i

[2021-10-12 11:55] kordano opened #398 "[Bug]:"
### What version of Datahike are you using?

0.3.7-SNAPSHOT

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

[code]

### Describe the bug

When trying to import datoms with `load-entities` into a database with active attribute references, the REPL crashes

[2021-10-26 11:39] kordano opened #400 "[Bug]: load-entities does not load current data for history"
### What version of Datahike are you using?

0.3.7-SNAPSHOT

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

{:store              {:backend :mem
                                 :id      "sandbox"}
            :name               "sandbox"
            :ke

[2021-10-26 16:05] kordano opened #402 "Batch transactions"
### Describe the feature you would like to request

Batch multiple transactions to Datahike before running I/O to the backend.

### Describe the solution you would like

Add a configurable flag that defines the batch size, then flush the trees after hitting the limit or time limit.

### Describe alternatives you've considered

none

[2021-10-27 12:40] #400 closed, assigned to kordano

[2021-10-27 12:41] #402 closed, assigned to nobody

[2021-10-29 09:42] kordano opened #404 "[Bug]: LRU Cache miss Nullpointer"
### What version of Datahike are you using?

0.3.7-SNAPSHOT

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

[code]

### Describe the bug

When having more a cache miss due to having a smaller cache size than entities and clauses, the LRU cache throws a N

[2021-10-29 11:44] #404 closed, assigned to kordano

[2021-10-29 11:54] kordano opened #406 "DB Meta Data"
### Describe the feature you would like to request

Add meta data to the database record:
- database library version when created
- creation date
- unique identifier
Maybe in the future with authentication also user data.

### Describe the solution you would like

add meta attribute to DB as a hash map that has the keys `:id`, `:version`, `:creation-date`.

### Describe alternatives you've conside

[2021-10-29 11:54] #406 closed, assigned to nobody

[2021-11-04 14:33] kordano opened #409 "[Bug]: Example folder not up to date"
### What version of Datahike are you using?

0.3.0

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

see examples project

### Describe the bug

The examples in the Datahike repository are deprecated.

### What is the expected behaviour?

The examples shou

[2021-11-04 14:45] #409 closed

[2021-11-08 18:34] kordano opened #412 "[Bug]: q is not a built-in function"
### What version of Datahike are you using?

0.3.7-SNAPSHOT

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

[code]

### Describe the bug

Datahike does not support the build-in function `q` inside q while in Datomic it is [supported](https://docs.datomic

[2021-11-10 12:09] #412 closed

[2021-11-10 13:30] kordano opened #415 "RocksDB backend"
### Describe the feature you would like to request

It would be good to have [RocksDB](http://rocksdb.org/) as a simple backend alternative.

### Describe the solution you would like

A `datahike-rocksdb` library that implements the latest konserve protocols.

### Describe alternatives you've considered

Also good would be LevelDB.

[2021-11-10 13:30] #415 closed

[2021-11-10 15:19] jsmassa opened #417 "Compare datahike to more databases"
### Describe the feature you would like to request

To help other developer to decide for a database, so far, we describe differences to
- DataScript
- Datomic

This topic should be extended to other Datalog databases like
- XTDB
- Asami
- Datalevin

### Describe the solution you would like

Write a new document addressing all of those databases.

### Describe alternatives you've considered

Exten

[2021-11-10 15:37] #417 closed

[2021-11-11 15:16] kordano opened #419 "Unified error handling"
### Describe the feature you would like to request

Unify all error messages.

### Describe the solution you would like

Unified error messages across all functions.

### Describe alternatives you've considered

Individual exceptions.

[2021-11-11 15:16] #419 closed

[2021-11-11 15:23] kordano opened #421 "Move to long for IDs"
### Describe the feature you would like to request

Longs for entity IDs instead of integers.

### Describe the solution you would like

Update datoms for longs.

### Describe alternatives you've considered

None.

[2021-11-11 15:23] #421 closed

[2021-11-11 15:26] kordano commented on #394
Since the issue was answered I'm closing this issue.

[2021-11-11 15:26] #394 closed

[2021-11-12 11:55] jsmassa opened #425 "Query planner and optimizer"
### Describe the feature you would like to request

So far the query is evaluated in the order that is given by the user, which is not always the most efficient way. Datahike should provide at least the option, e.g. to rearrange the query statements to optimize the execution time of a query.

### Describe the solution you would like

Use prior knowledge and maybe actual experience values to optimi

[2021-11-12 11:55] #425 closed

[2021-11-12 15:00] TimoKramer opened #433 "[Bug]: Missing tx-meta on transact via api-ns"
### What version of Datahike are you using?

0.3.6

### What version of Java are you using?

11.0.13

### What operating system are you using?

Linucz

### What database EDN configuration are you using?

[code]

### Describe the bug

[code]
This fails when but should succeed. connector-ns only transacts the tx-data in the `transact!`-fn

### What is the expected behaviour?

It should show the tx-m

[2021-11-12 15:43] TimoKramer commented on #433
Reinstate tests in test/datahike/test/listen_test.cljc and test/datahike/test/transact_test.cljc when fixed.

[2021-11-12 20:36] #358 closed

[2021-11-16 12:32] kordano opened #435 "[Bug]: missing built-in int?"
### What version of Datahike are you using?

0.3.7-SNAPSHOT

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

[code]

### Describe the bug

When using `int?` as a built-in function in a query like in Datomic the query engine crashes with:
[code]

### What

[2021-11-16 13:16] #435 closed

[2021-11-18 15:21] #388 closed

[2021-11-18 15:22] #385 closed

[2021-11-18 15:24] kordano commented on #387
We have to check this again with the new backends.

[2021-11-18 15:28] kordano commented on #350
duplication of #433

[2021-11-18 15:28] #350 closed

[2021-11-18 15:28] #349 closed

[2021-11-18 15:29] #351 closed

[2021-11-18 15:29] #348 closed

[2021-11-18 15:29] #347 closed

[2021-11-18 15:30] #346 closed

[2021-11-18 15:31] #327 closed

[2021-11-18 15:31] #319 closed

[2021-11-23 02:38] whilo opened #440 "[Bug]: store max-ent-id in db record"
### What version of Datahike are you using?

0.3.7-SNAPSHOT

### What version of Java are you using?

openjdk 11.0.11 2021-04-20

### What operating system are you using?

Ubuntu 20.04

### What database EDN configuration are you using?

-

### Describe the bug

When max-ent-id is not stored in the db record the unit tests in the GraalVM branch fail.

### What is the expected behaviour?

Max-ent-i

[2021-11-23 14:19] kordano opened #441 "[Bug]: clojure.core functions are missing in built-ins"
### What version of Datahike are you using?

0.3.7-SNAPSHOT

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

any

### Describe the bug

When trying to use `inst?` inside a query it fails with
[code]

### What is the expected behaviour?

It should not fail

[2021-11-24 11:00] #211 closed

[2021-11-24 11:00] #308 closed

[2021-11-24 11:01] #328 closed

[2021-12-06 20:12] zoren opened #448 "[Bug]:"
### What version of Datahike are you using?

0.4.0

### What version of Java are you using?

11.0.11

### What operating system are you using?

macOS

### What database EDN configuration are you using?

I'm using a vector of facts as input.

### Describe the bug

With the query given below I get `#{[:leo] [:sussi]}`, but with Datascript and Datomic I get `#{[:sussi]}`. And I think that is what one

[2021-12-06 20:18] zoren commented on #448
I don't use any additional features. I'm not using a backend just providing facts in-line.

[2021-12-07 14:27] kordano opened #449 "[Bug]: incomplete config documentation"
### What version of Datahike are you using?

0.4.0

### What version of Java are you using?

openjdk version "11.0.11" 2021-04-20

### What operating system are you using?

Ubuntu 20.04.3 LTS

### What database EDN configuration are you using?

any

### Describe the bug

The following configuration attributes are not documented:
-  `attribute-refs?`
- `index-config`
-  `cache-size`
-  `index`

###

[2021-12-08 10:31] kordano opened #450 "Store and index version verification"
### Describe the feature you would like to request

Datahike should be able to detect whether the current used version is in conflict with konserve and index versions.

### Describe the solution you would like

On connection Datahike should check the current versions against the store versions of Datahike itself, konserve and the hitchhiker tree. On a conflict a warning should be printed or if the

[2021-12-08 10:31] #450 closed, assigned to nobody

[2021-12-09 23:07] zoren opened #453 "[Bug]: or-join variables not respected"
### What version of Datahike are you using?

0.4.0

### What version of Java are you using?

11.0.11

### What operating system are you using?

macOS

### What database EDN configuration are you using?

no config, using vector of facts as input

### Describe the bug

It seems the join variables are not treated correctly. With datascript and Datomic I get the expected result.

### What is the expec